{{layout/logo-heading
	title=(localize 'section_jira')
	desc=(localize 'section_jira_explain')
	icon=constants.Icon.Integrations}}

{{#section/base-editor document=document folder=folder page=page busy=waiting isDirty=(action "isDirty") onCancel=(action "onCancel") onAction=(action "onAction")}}
	{{#if session.isAdmin}}
		{{#link-to "customize.integrations"}}
			{{ui/ui-button color=constants.Color.Green light=true label=(localize 'configure')}}
		{{/link-to}}
		<Ui::UiSpacer @size="300" />
	{{else}}
		{{#unless authenticated}}
			<p class="color-green-600">{{localize 'section_jira_admin'}}</p>
		{{/unless}}
	{{/if}}
	{{#if authenticated}}
		<form {{action "onPreview"}} role="form">
			<div class="form-group">
				<label for="jira-jql">Jira Query Language</label>
				{{focus-input id="jira-jql" type="text" value=config.jql class="form-control" placeholder="e.g. (status = resolved AND project = SysAdmin) OR assignee = bobsmith"}}
			</div>
			{{ui/ui-button color=constants.Color.Yellow light=true label=(localize 'preview') submit=true onClick=(action "onPreview")}}
		</form>

		<Ui::UiSpacer @size="300" />>
		{{{issuesGrid}}}
	{{else}}
		<Ui::UiSpacer @size="300" />
		<p class="color-gray-700">{{localize 'section_jira_no_auth'}}</p>
	{{/if}}
{{/section/base-editor}}
