<div class="ui-checkbox {{if selected "ui-checkbox-selected"}}" {{action "onCheck"}} role="checkbox" tabindex="0">
	{{#if selected}}
		<i class="dicon {{constants.Icon.CheckboxChecked}} selected" />
	{{else}}
		<i class="dicon {{constants.Icon.Checkbox}}" />
	{{/if}}
	<div class="text">{{yield}}</div>
</div>
