<select {{action "change" on="change"}} class="form-control {{cssClass}}" readonly={{readonly}}>
    {{#if prompt}}
        <option disabled selected={{is-not selection}}>
            {{prompt}}
        </option>
    {{/if}}
    {{#each content key="@identity" as |item|}}
        <option value={{read-path item optionValuePath}} selected={{is-equal item selection}}>
            {{read-path item optionLabelPath}}
        </option>
    {{/each}}
</select>
