<div class="search-results">
    <div class="heading">{{resultPhrase}}</div>
    <ul class="list">
        {{#each documents key="id" as |result index|}}
            <li class="item">
                <a class="link" href="s/{{result.spaceId}}/{{result.spaceSlug}}/d/{{ result.documentId }}/{{result.documentSlug}}?page={{ result.itemId }}">
                    <div class="title">{{ result.document }}</div>
					<div class="folder">{{ result.space }}</div>
					<div class="excerpt">{{ result.excerpt }}</div>
					<div class="chips">{{search/tag-list documentTags=result.tags}}</div>
                </a>
            </li>
        {{/each}}
    </ul>
</div>
