<div class="view-search">
	<div class="result-summary">{{resultPhrase}}</div>
	<ul class="documents">
		{{#each documents key="id" as |result|}}
			<li class="document">
				{{#link-to "document.index" result.spaceId result.spaceSlug result.documentId result.documentSlug (query-params currentPageId=result.itemId source=searchQuery) class="link"}}
					<div class="title">
						{{result.document}}
						{{#if (gt result.versionId.length 0)}}
							<span class="version">&nbsp;&nbsp;{{result.versionId}}</span>
						{{/if}}
					</div>
					<div class="space">{{result.space}}</div>
					<div class="snippet">{{result.excerpt}}</div>
					{{folder/document-tags documentTags=result.tags}}
				{{/link-to}}
			</li>
		{{/each}}
	</ul>
</div>