{{layout/logo-heading
	title=(localize 'section_trello')
	desc=(localize 'section_trello_explain')
	icon=constants.Icon.Integrations}}

{{#section/base-editor document=document folder=folder page=page busy=busy
	isDirty=(action "isDirty") onCancel=(action "onCancel") onAction=(action "onAction")}}

	{{#if trelloConfigured}}
		{{#if authenticated}}
			{{#if noBoards}}
				<p>{{localize 'section_trello_none'}}</p>
			{{else}}
				<div class="form-group">
					<label>{{localize 'section_trello_board'}}</label>
					{{ui/ui-select id="boards-dropdown" content=boards action=(action "onBoardChange") optionValuePath="id" optionLabelPath="name" selection=config.board}}
				</div>
				<div class="form-group">
					<label for="airtable-embed-cod">{{localize 'section_trello_list'}}</label>
					<div class="section-trello-board" style= {{boardStyle}}>
						<div class="section-trello-board-title">{{config.board.name}}</div>
						{{#each config.lists as |list|}}
							<div class="section-trello-list" {{action "onListCheckbox" list.id}} role="button" tabindex="0">
								{{#if list.included}}
									<i class="section-trello-list-checkbox dicon {{constants.Icon.CheckboxChecked}}" />
								{{else}}
									<i class="section-trello-list-checkbox dicon {{constants.Icon.Checkbox}}" />
								{{/if}}
								<span class="trello-list-title">{{list.name}}</span>
							</div>
						{{/each}}
						<div class="clearfix" />
					</div>
				</div>
			{{/if}}
		{{else}}
			{{ui/ui-button color=constants.Color.Green light=true
				label=(localize 'authenticate') onClick=(action "auth")}}
		{{/if}}
	{{else}}
		{{#if session.isGlobalAdmin}}
			{{#link-to "customize.integrations"}}
				{{ui/ui-button color=constants.Color.Yellow light=true
					label="Configure Trello Connector"}}

			{{/link-to}}
		{{else}}
			<p>{{localize 'section_trello_admin'}}</p>
		{{/if}}
	{{/if}}

{{/section/base-editor}}
