{{#layout/master-sidebar}}
	<Ui::UiSpacer @size=300 />

	<div class="section">
		<div class="title">SUMMARY</div>
		<Ui::UiSpacer @size=100 />
		<p>Documize {{appMeta.edition}} Edition</p>
		<p>Version {{appMeta.version}}</p>
		<p>Build {{appMeta.revision}}</p>
	</div>

{{/layout/master-sidebar}}

{{#layout/master-content}}
	{{layout/logo-heading
		title="Product News"
		desc="Latest product news and updates from Documize Inc."
		icon=constants.Icon.Announce}}

	<div class="product-news">
		{{{newsContent}}}
		<div class="action">
			Have an idea? Suggestion or feedback? <a href="mailto:support@documize.com">Get in touch!</a>
		</div>
	</div>
{{/layout/master-content}}
