{{layout/nav-bar}}

<div class="container">
	{{#toolbar/t-toolbar}}
		{{#toolbar/t-links}}
			{{#link-to "folders" class="link" tagName="li"}}Spaces{{/link-to}}
			{{#link-to "folder" model.folder.id model.folder.slug class="link" tagName="li"}}{{model.folder.name}}{{/link-to}}
		{{/toolbar/t-links}}
	{{/toolbar/t-toolbar}}

	{{document/document-heading document=model.document permissions=model.permissions onSaveDocument=(action 'onSaveDocument')}}
	{{document/document-meta document=model.document folder=model.folder folders=model.folders permissions=model.permissions}}
	{{document/tag-editor documentTags=model.document.tags permissions=model.permissions onChange=(action 'onTagChange')}}

	<div id="zone-document-content" class="zone-document-content">
		<div class="document-header-zone">
			{{document/document-toolbar
				document=model.document folder=model.folder folders=model.folders permissions=model.permissions
				onDocumentDelete=(action 'onDocumentDelete') onSaveTemplate=(action 'onSaveTemplate')
				onPageSequenceChange=(action 'onPageSequenceChange') onPageLevelChange=(action 'onPageLevelChange')
				onGotoPage=(action 'onGotoPage')}}
		</div>

		{{document/document-sidebar tab=tab
			document=model.document folder=model.folder pages=model.pages page=model.page permissions=model.permissions
			onPageSequenceChange=(action 'onPageSequenceChange') onPageLevelChange=(action 'onPageLevelChange')
			onGotoPage=(action 'onGotoPage')}}

		{{document/document-view
			document=model.document links=model.links pages=model.pages
			folder=model.folder folders=model.folders sections=model.sections permissions=model.permissions pageId=pageId
			onSavePage=(action 'onSavePage') onInsertSection=(action 'onInsertSection')
			onSavePageAsBlock=(action 'onSavePageAsBlock') onDeleteBlock=(action 'onDeleteBlock') onGotoPage=(action 'onGotoPage')
			onCopyPage=(action 'onCopyPage') onMovePage=(action 'onMovePage') onDeletePage=(action 'onPageDeleted')}}
	</div>
</div>
