{{#layout/top-bar}}
	<li class="item">
		{{#link-to "folder.index" folder.id folder.slug class='link'}}
			{{folder.name}}
		{{/link-to}}
	</li>
	<li class="item">
		{{#link-to 'document.index' folder.id folder.slug document.id document.slug class="link selected"}}
			{{document.name}}
		{{/link-to}}
	</li>
{{/layout/top-bar}}

{{#layout/middle-zone}}
	{{#layout/middle-zone-content}}

		{{toolbar/for-document
			document=document
			spaces=folders
			space=folder
			permissions=permissions
			roles=roles
			tab=tab
			versions=versions
			onDocumentDelete=(action 'onDocumentDelete')
			onSaveTemplate=(action 'onSaveTemplate')
			onSaveDocument=(action 'onSaveDocument')
			refresh=(action 'refresh')}}

		<div class="text-center non-printable document-tabnav">
			<ul class="tabnav-control">
				<li class="tab {{if (eq tab 'content') 'selected'}}" {{action 'onTabChange' 'content'}}>Content</li>
				{{#if session.authenticated}}
					<li class="tab {{if (eq tab 'revision') 'selected'}}" {{action 'onTabChange' 'revision'}}>Revisions</li>
				{{/if}}
			</ul>
		</div>

		{{document/document-heading
			document=document
			permissions=permissions
			versions=versions
			onSaveDocument=(action 'onSaveDocument')}}

		{{document/document-meta
			document=document
			folder=folder
			folders=folders
			permissions=permissions
			pages=pages
			versions=versions
			onSaveDocument=(action 'onSaveDocument')}}

		{{#if (eq tab 'content')}}
			{{document/view-content
				document=document links=links pages=pages blocks=blocks currentPageId=currentPageId
				folder=folder folders=folders sections=sections permissions=permissions roles=roles
				onSavePage=(action 'onSavePage') onInsertSection=(action 'onInsertSection')
				onSavePageAsBlock=(action 'onSavePageAsBlock') onDeleteBlock=(action 'onDeleteBlock')
				onCopyPage=(action 'onCopyPage') onMovePage=(action 'onMovePage') onDeletePage=(action 'onPageDeleted')
				refresh=(action 'refresh')}}
		{{/if}}
		{{#if (eq tab 'revision')}}
			{{document/view-revision document=document folder=folder pages=pages permissions=permissions onRollback=(action 'onRollback')}}
		{{/if}}

	{{/layout/middle-zone-content}}

	{{#layout/middle-zone-sidebar}}
		{{document/document-toc
			document=document
			folder=folder
			pages=pages
			page=page
			permissions=permissions
			roles=roles
			tab=tab
			currentPageId=currentPageId
			onShowPage=(action 'onShowPage')
			onPageSequenceChange=(action 'onPageSequenceChange')
			onPageLevelChange=(action 'onPageLevelChange')}}
	{{/layout/middle-zone-sidebar}}
{{/layout/middle-zone}}

{{#layout/bottom-bar}}
{{/layout/bottom-bar}}
