{{#layout/top-bar}}
	<li class="item">
		{{#link-to "folder.index" folder.id folder.slug class='link'}}
			{{folder.name}}
		{{/link-to}}
	</li>
	<li class="item">
		{{#link-to 'document.index' folder.id folder.slug document.id document.slug class="link selected"}}
			{{document.name}}
		{{/link-to}}
	</li>
{{/layout/top-bar}}

{{#layout/middle-zone}}

	{{#layout/middle-zone-content}}

		{{toolbar/for-document
			tab=tab
			roles=roles
			space=folder
			spaces=folders
			document=document
			versions=versions
			permissions=permissions
			refresh=(action 'refresh')
			onSaveTemplate=(action 'onSaveTemplate')
			onSaveDocument=(action 'onSaveDocument')
			onDocumentDelete=(action 'onDocumentDelete')}}

		<div class="text-center non-printable document-tabnav">
			<ul class="tabnav-control">
				<li class="tab {{if (eq tab 'content') 'selected'}}" {{action 'onTabChange' 'content'}}>Content</li>
				{{#if session.authenticated}}
					{{#if showRevisions}}
						<li class="tab {{if (eq tab 'revision') 'selected'}}" {{action 'onTabChange' 'revision'}}>Revisions</li>
					{{/if}}
				{{/if}}
			</ul>
		</div>

		<div class="view-document">
			<div class="document-heading {{if permissions.documentEdit 'cursor-pointer' ''}}" {{action 'onEditMeta'}}>
				<h1 class="doc-title">
					{{#if document.template}}
						<span class="bg-warning p-1 pr-2 pl-2">Template</span>&nbsp;&nbsp;
					{{/if}}
					{{document.name}}
				</h1>
				<div class="doc-excerpt">{{document.excerpt}}</div>
			</div>
		</div>

		{{document/document-meta
			pages=pages
			folder=folder
			folders=folders
			document=document
			versions=versions
			permissions=permissions
			onSaveDocument=(action 'onSaveDocument')}}

		{{#if (eq tab 'content')}}
			{{document/view-content
				roles=roles
				links=links
				pages=pages
				blocks=blocks
				folder=folder
				folders=folders
				sections=sections
				document=document
				permissions=permissions
				currentPageId=currentPageId
				refresh=(action 'refresh')
				onSavePage=(action 'onSavePage')
				onCopyPage=(action 'onCopyPage')
				onMovePage=(action 'onMovePage')
				onDeletePage=(action 'onPageDeleted')
				onInsertSection=(action 'onInsertSection')
				onSavePageAsBlock=(action 'onSavePageAsBlock')
				onPageLevelChange=(action 'onPageLevelChange')
				onPageSequenceChange=(action 'onPageSequenceChange')}}
		{{/if}}

		{{#if (eq tab 'revision')}}
			{{#if showRevisions}}
				{{document/view-revision
					pages=pages
					folder=folder
					document=document
					permissions=permissions
					onRollback=(action 'onRollback')}}
			{{/if}}
		{{/if}}

	{{/layout/middle-zone-content}}

	{{#layout/middle-zone-sidebar}}

		{{document/document-toc
			tab=tab
			page=page
			roles=roles
			pages=pages
			folder=folder
			document=document
			permissions=permissions
			currentPageId=currentPageId
			onShowPage=(action 'onShowPage')
			onPageLevelChange=(action 'onPageLevelChange')
			onPageSequenceChange=(action 'onPageSequenceChange')}}

	{{/layout/middle-zone-sidebar}}

{{/layout/middle-zone}}

{{#layout/bottom-bar}}
{{/layout/bottom-bar}}
