{{#layout/zone-container}}

	{{#layout/zone-sidebar}}
		{{document/document-index
			document=model.document folder=model.folder pages=model.pages page=model.page permissions=model.permissions
			onPageSequenceChange=(action 'onPageSequenceChange') onPageLevelChange=(action 'onPageLevelChange')
			onGotoPage=(action 'onGotoPage')}}
	{{/layout/zone-sidebar}}

	{{#layout/zone-content}}
		<div id="zone-document-content" class="zone-document-content">

			<div class="document-header-zone">
				<div class="pull-left">
					{{document/space-category document=model.document folder=model.folder folders=model.folders permissions=model.permissions}}
				</div>

				<div class="pull-right">
					{{document/document-toolbar
						document=model.document folder=model.folder folders=model.folders permissions=model.permissions
						onDocumentDelete=(action 'onDocumentDelete') onSaveTemplate=(action 'onSaveTemplate')
						onPageSequenceChange=(action 'onPageSequenceChange') onPageLevelChange=(action 'onPageLevelChange')
						onGotoPage=(action 'onGotoPage')}}
				</div>
				<div class="clearfix"/>

				{{document/tag-editor documentTags=model.document.tags permissions=model.permissions onChange=(action 'onTagChange')}}
			</div>

			{{document/document-heading document=model.document permissions=model.permissions onSaveDocument=(action 'onSaveDocument')}}

			{{#if model.document.template}}
				<div class="document-template-header">Template</div>
			{{/if}}

			{{document/document-view
				document=model.document links=model.links pages=model.pages
				folder=model.folder folders=model.folders sections=model.sections permissions=model.permissions pageId=pageId
				onSavePage=(action 'onSavePage') onInsertSection=(action 'onInsertSection')
				onSavePageAsBlock=(action 'onSavePageAsBlock') onDeleteBlock=(action 'onDeleteBlock') onGotoPage=(action 'onGotoPage')
				onCopyPage=(action 'onCopyPage') onMovePage=(action 'onMovePage') onDeletePage=(action 'onPageDeleted')}}

		</div>
	{{/layout/zone-content}}

{{/layout/zone-container}}
