{{toolbar/nav-bar}}

{{toolbar/for-document document=document spaces=folders space=folder permissions=permissions
	onDocumentDelete=(action 'onDocumentDelete') onSaveTemplate=(action 'onSaveTemplate')}}

<div id="doc-view" class="container">
	<div class="row">
		<div class="col-12">
			{{document/document-heading document=document permissions=permissions
				onSaveDocument=(action 'onSaveDocument')}}

			{{document/document-meta document=document folder=folder folders=folders permissions=permissions
				onSaveDocument=(action 'onSaveDocument')}}
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			{{document/document-toc document=document folder=folder pages=pages page=page permissions=permissions currentPageId=pageId tab=tab
				onPageSequenceChange=(action 'onPageSequenceChange') onPageLevelChange=(action 'onPageLevelChange') onGotoPage=(action 'onGotoPage')}}
		</div>
	</div>

	<div class="row no-gutters">
		<div class="col-12">
			<div class="text-center">
				<ul class="tabnav-control mt-5 mb-5">
					<li class="tab {{if (eq tab 'content') 'selected'}}" {{action 'onTabChange' 'content'}}>Content</li>
					<li class="tab {{if (eq tab 'attachment') 'selected'}}" {{action 'onTabChange' 'attachment'}}>Attachments</li>
					{{#if session.authenticated}}
						<li class="tab {{if (eq tab 'activity') 'selected'}}" {{action 'onTabChange' 'activity'}}>Activity</li>
						<li class="tab {{if (eq tab 'revision') 'selected'}}" {{action 'onTabChange' 'revision'}}>Revisions</li>
					{{/if}}
				</ul>
			</div>

			{{#if (eq tab 'content')}}
				{{document/view-content
					document=document links=links pages=pages
					folder=folder folders=folders sections=sections permissions=permissions pageId=pageId
					onSavePage=(action 'onSavePage') onInsertSection=(action 'onInsertSection')
					onSavePageAsBlock=(action 'onSavePageAsBlock') onDeleteBlock=(action 'onDeleteBlock') onGotoPage=(action 'onGotoPage')
					onCopyPage=(action 'onCopyPage') onMovePage=(action 'onMovePage') onDeletePage=(action 'onPageDeleted')}}
			{{/if}}

			{{#if (eq tab 'attachment')}}
				{{document/view-attachment document=document permissions=permissions}}
			{{/if}}

			{{#if (eq tab 'activity')}}
				{{document/view-activity document=document pages=pages permissions=permissions}}
			{{/if}}

			{{#if (eq tab 'revision')}}
				{{document/view-revision document=document folder=folder pages=pages onRollback=(action 'onRollback')}}
			{{/if}}
		</div>
	</div>
</div>
