{{#layout/master-sidebar}}
	{{ui/ui-spacer size=200}}

	<div class="section">
		{{ui/ui-spacer size=100}}

		<div class="text-center">
			{{#ui/ui-toolbar dark=true light=true raised=true large=false bordered=true}}
				{{ui/ui-toolbar-icon icon=constants.Icon.Index color=constants.Color.Gray tooltip="Table of contents"
					selected=(eq sidebarTab "toc") onClick=(action "onSidebarChange" "toc")}}
				{{ui/ui-toolbar-icon icon=constants.Icon.Attachment color=constants.Color.Gray tooltip="Attachments"
					selected=(eq sidebarTab "files") onClick=(action "onSidebarChange" "files")}}
			{{/ui/ui-toolbar}}
		</div>
	</div>

	{{ui/ui-spacer size=200}}

	{{#if (eq sidebarTab "toc")}}
		{{document/sidebar-toc
			tab=tab
			page=page
			roles=roles
			pages=pages
			folder=folder
			document=document
			permissions=permissions
			currentPageId=currentPageId
			onShowPage=(action "onShowPage")
			onPageLevelChange=(action "onPageLevelChange")
			onPageSequenceChange=(action "onPageSequenceChange")}}
	{{/if}}
	{{#if (eq sidebarTab "files")}}
		{{document/sidebar-attachment
			document=document
			permissions=permissions}}
	{{/if}}
{{/layout/master-sidebar}}

{{#layout/master-content}}
	<div class="grid-container-6-4">
		<div class="grid-cell-1">
			{{document/document-meta
				tab=tab
				roles=roles
				space=folder
				spaces=folders
				document=document
				versions=versions
				permissions=permissions}}
		</div>

		<div class="grid-cell-2 grid-cell-right">
			{{document/document-toolbar
				tab=tab
				roles=roles
				space=folder
				spaces=folders
				document=document
				versions=versions
				permissions=permissions
				refresh=(action "refresh")
				onSaveTemplate=(action "onSaveTemplate")
				onSaveDocument=(action "onSaveDocument")
				onDocumentDelete=(action "onDocumentDelete")}}
		</div>
	</div>

	{{ui/ui-spacer size=400}}

	<div class="document-meta {{if permissions.documentEdit "cursor-pointer"}}" {{action "onEditMeta"}}>
		<div class="document-heading">
			<h1 class="name">{{document.name}}</h1>
			<h2 class="desc">{{document.excerpt}}</h2>
		</div>
	</div>

	{{document/view-content
		roles=roles
		links=links
		pages=pages
		blocks=blocks
		folder=folder
		folders=folders
		sections=sections
		document=document
		permissions=permissions
		currentPageId=currentPageId
		refresh=(action "refresh")
		onSavePage=(action "onSavePage")
		onCopyPage=(action "onCopyPage")
		onMovePage=(action "onMovePage")
		onDeletePage=(action "onPageDeleted")
		onInsertSection=(action "onInsertSection")
		onSavePageAsBlock=(action "onSavePageAsBlock")
		onPageLevelChange=(action "onPageLevelChange")
		onPageSequenceChange=(action "onPageSequenceChange")}}
{{/layout/master-content}}

