{{#section/base-editor-inline document=document folder=folder page=page tip=(localize 'section_pdf') isDirty=(action "isDirty") onCancel=(action "onCancel") onAction=(action "onAction")}}

    <div class="form-group">
        <label>{{localize 'pdf'}}</label>
        {{input type="text" class="form-control mousetrap" placeholder="click upload button below" value=pdfName readonly=true}}
        <small class="form-text text-muted">{{localize 'section_pdf_upload_explain'}}</small>
    </div>

    <div class="form-group">
        <label>{{localize 'section_pdf_height'}}</label>
        {{input type="number" class="form-control mousetrap" placeholder="e.g. 700" value=pdfOption.height}}
        <small class="form-text text-muted">{{localize 'section_pdf_height_explain'}}</small>
    </div>

    <div class="form-group">
        <label>{{localize 'section_pdf_start'}}</label>
        {{input type="number" class="form-control mousetrap" placeholder="e.g. 1" value=pdfOption.startPage}}
        <small class="form-text text-muted">{{localize 'section_pdf_start_explain'}}</small>
    </div>

    <div class="form-group">
        <label>{{localize 'section_pdf_sidebar'}}</label>
        <select onchange={{action "onSetSidebar" value="target.value"}} class="form-control" role="button" tabindex="0">
            <option value="none" selected={{is-equal pdfOption.sidebar "none"}}>
                {{localize 'section_pdf_sidebar_none'}}
            </option>
            <option value="bookmarks" selected={{is-equal pdfOption.sidebar "bookmarks"}}>
                {{localize 'section_pdf_sidebar_bookmark'}}
            </option>
            <option value="thumbs" selected={{is-equal pdfOption.sidebar "thumbs"}}>
                {{localize 'section_pdf_sidebar_thumbnail'}}
            </option>
        </select>
        <small class="form-text text-muted">{{localize 'section_pdf_sidebar_explain'}}</small>
    </div>

{{/section/base-editor-inline}}
