{{#layout/master-sidebar}}
	one<br>
	two<br>
	three
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
{{/layout/master-sidebar}}
{{#layout/master-content}}
	{{ui/ui-button themed=true label="save" onClick=(action "onButtonClick" 1)}}
	{{ui/ui-button-gap}}
	{{ui/ui-button themed=true light=true label="update" onClick=(action "onButtonClick" 2)}}
	{{ui/ui-button-gap}}
	<br>
	<br>
	{{ui/ui-button color="green" label="save" onClick=(action "onSuccess")}}
	{{ui/ui-button-gap}}
	{{ui/ui-button color="yellow" label="update" onClick=(action "onInfo")}}
	{{ui/ui-button-gap}}
	{{ui/ui-button color="gray" label="Cancel" onClick=(action "onWarn")}}
	{{ui/ui-button-gap}}
	{{ui/ui-button color="red" label="deletE" onClick=(action "onError")}}
	{{ui/ui-button-gap}}
	<br>
	<br>
	{{ui/ui-button color="green" light=true label="save" onClick=(action "onSuccess")}}
	{{ui/ui-button-gap}}
	{{ui/ui-button color="yellow" light=true label="update" onClick=(action "onInfo")}}
	{{ui/ui-button-gap}}
	{{ui/ui-button color="gray" light=true label="Cancel" onClick=(action "onWarn")}}
	{{ui/ui-button-gap}}
	{{ui/ui-button color="red" light=true label="deletE" onClick=(action "onError")}}
	{{ui/ui-button-gap}}
	<br>
	<br>
	{{ui/ui-button color="green" light=true icon="plus" label="save" onClick=(action "onSuccess")}}
	{{ui/ui-button-gap}}
	{{ui/ui-button color="yellow" light=true icon="settings" label="update" onClick=(action "onInfo")}}
	{{ui/ui-button-gap}}
	{{ui/ui-button color="gray" light=true icon="print" label="Cancel" onClick=(action "onWarn")}}
	{{ui/ui-button-gap}}
	{{ui/ui-button color="red" light=true icon="delete" label="deletE" onClick=(action "onError")}}
	{{ui/ui-button-gap}}
	<br>
	<br>
	{{#ui/ui-toolbar dark=false light=false raised=false large=false bordered=false}}
		{{ui/ui-toolbar-icon icon="delete" color="red" onClick=(action "onToolbarClick" 1)}}
		{{ui/ui-toolbar-icon icon="print" color="yellow" onClick=(action "onToolbarClick" 2)}}
		{{ui/ui-toolbar-icon icon="settings" onClick=(action "onToolbarClick" 3)}}
		{{ui/ui-toolbar-icon icon="print" color="green" onClick=(action "onToolbarClick" 4)}}
		{{ui/ui-toolbar-icon icon="person" color="" onClick=(action "onToolbarClick" 5)}}
	{{/ui/ui-toolbar}}
	<br>
	<br>
	{{#ui/ui-toolbar dark=false light=true raised=true large=false bordered=true}}
		{{ui/ui-toolbar-icon icon="delete" color="red" onClick=(action "onToolbarClick" 1)}}
		{{ui/ui-toolbar-icon icon="print" color="yellow" onClick=(action "onToolbarClick" 2)}}
		{{ui/ui-toolbar-icon icon="settings" onClick=(action "onToolbarClick" 3)}}
		{{ui/ui-toolbar-icon icon="print" color="green" onClick=(action "onToolbarClick" 4)}}
		{{ui/ui-toolbar-icon icon="person" color="" onClick=(action "onToolbarClick" 5)}}
	{{/ui/ui-toolbar}}
	<br>
	<br>
	{{#ui/ui-toolbar dark=true light=false raised=true large=false bordered=true}}
		{{ui/ui-toolbar-icon icon="delete" color="red" onClick=(action "onToolbarClick" 1)}}
		{{ui/ui-toolbar-icon icon="print" color="yellow" onClick=(action "onToolbarClick" 2)}}
		{{ui/ui-toolbar-icon icon="settings" onClick=(action "onToolbarClick" 3)}}
		{{ui/ui-toolbar-icon icon="print" color="green" onClick=(action "onToolbarClick" 4)}}
		{{ui/ui-toolbar-icon icon="person" color="" onClick=(action "onToolbarClick" 5)}}
	{{/ui/ui-toolbar}}
	<br>
	<br>
	{{#ui/ui-toolbar dark=false light=false raised=false large=true bordered=false}}
		{{ui/ui-toolbar-icon icon="delete" color="red" onClick=(action "onToolbarClick" 1)}}
		{{ui/ui-toolbar-icon icon="print" color="yellow" onClick=(action "onToolbarClick" 2)}}
		{{ui/ui-toolbar-icon icon="settings" onClick=(action "onToolbarClick" 3)}}
		{{ui/ui-toolbar-icon icon="print" color="green" onClick=(action "onToolbarClick" 4)}}
		{{ui/ui-toolbar-icon icon="person" color="" onClick=(action "onToolbarClick" 5)}}
	{{/ui/ui-toolbar}}
	<br>
	<br>
	{{#ui/ui-toolbar dark=false light=true raised=true large=true bordered=true}}
		{{ui/ui-toolbar-icon icon="delete" color="red" onClick=(action "onToolbarClick" 1)}}
		{{ui/ui-toolbar-icon icon="print" color="yellow" onClick=(action "onToolbarClick" 2)}}
		{{ui/ui-toolbar-icon icon="settings" onClick=(action "onToolbarClick" 3)}}
		{{ui/ui-toolbar-icon icon="print" color="green" onClick=(action "onToolbarClick" 4)}}
		{{ui/ui-toolbar-icon icon="person" color="" onClick=(action "onToolbarClick" 5)}}
	{{/ui/ui-toolbar}}
	<br>
	<br>
	{{#ui/ui-toolbar dark=true light=false raised=true large=true bordered=true}}
		{{ui/ui-toolbar-icon icon="delete" color="red" onClick=(action "onToolbarClick" 1)}}
		{{ui/ui-toolbar-icon icon="print" color="yellow" onClick=(action "onToolbarClick" 2)}}
		{{ui/ui-toolbar-icon icon="settings" onClick=(action "onToolbarClick" 3)}}
		{{ui/ui-toolbar-icon icon="print" color="green" onClick=(action "onToolbarClick" 4)}}
		{{ui/ui-toolbar-icon icon="person" color="" onClick=(action "onToolbarClick" 5)}}
	{{/ui/ui-toolbar}}
	<br>
	<br>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
	<p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
{{/layout/master-content}}
