<div class="header">
    <div class="container">
        <div class="row">
            <div class="pull-left">
                <div class="content">
                    {{#if session.authenticated}}
                        <div id="accounts-button" class="header-button">
                            <i class="material-icons">apps</i>
                        </div>
                    {{else}}
                        {{#link-to 'folders.folder' title=session.appMeta.title}}
                            <div class="header-button">
                                <i class="material-icons">apps</i>
                            </div>
                        {{/link-to}}
                    {{/if}}
                    <div class="title">{{session.appMeta.title}}</div>
                </div>
            </div>
            <div class="pull-right">
                <div class="content">
                    {{#if session.authenticated}}
                        <div class="name hidden-xs">{{session.user.fullname}}</div>
                        <div id="user-button" class="header-button">
                            <i class="initials">{{session.user.initials}}</i>
                        </div>
                    {{else}}
                        <div class="login">
                            {{#link-to 'auth.login'}}Login{{/link-to}}
                        </div>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="row">
            <ul class="breadcrumb-menu">
                {{#if dashboardMode}}
                    <li class="option selected">
                        {{#link-to 'folders'}}Dashboard{{/link-to}}
                    </li>
                {{/if}}
                {{#if searchMode}}
                    <li class="option">
                        {{#link-to 'folders'}}Dashboard{{/link-to}}
                    </li>
                    <li class="option selected">
                        {{#link-to 'search'}}Search{{/link-to}}
                    </li>
                {{/if}}
                {{#if settingsMode}}
                    <li class="option">
                        {{#link-to 'folders'}}Dashboard{{/link-to}}
                    </li>
                    <li class="option selected">
                        {{#link-to 'customize.general'}}Settings{{/link-to}}
                    </li>
                {{/if}}
                {{#if folderMode}}
                    <li class="option">
                        {{#link-to 'folders.folder'}}Dashboard{{/link-to}}
                    </li>
                    <li class="option selected">
                        {{#link-to 'folders.folder' folder.id folder.slug}}{{folder.name}}{{/link-to}}
                    </li>
                {{/if}}
                {{#if profileMode}}
                    <li class="option">
                        {{#link-to 'folders'}}Dashboard{{/link-to}}
                    </li>
                    <li class="option selected">
                        {{#link-to 'profile'}}{{this.session.user.fullname}}{{/link-to}}
                    </li>
                {{/if}}
				{{#if documentMode}}
                    <li class="option">
                        {{#link-to 'folders'}}Dashboard{{/link-to}}
                    </li>
                    <li class="option">
                        {{#link-to 'folders.folder' folder.id folder.slug}}{{folder.name}}{{/link-to}}
                    </li>
					<li class="option selected">
                        {{#link-to 'document' folder.id folder.slug document.id document.slug}}{{document.name}}{{/link-to}}
                    </li>
                {{/if}}
            </ul>
        </div>

        <div class="row">
            {{yield}}
        </div>
    </div>

    {{#if session.authenticated}}
        {{#dropdown-menu target="accounts-button" position="bottom left" open="click" }}
            <ul class="menu">
                {{#each session.user.accounts as |account|}}
                    <li class="item" {{action 'switchAccount' account.domain }}>{{account.title}}</li>
                {{/each}}
                <li class="divider"></li>
                <li class="item"><a href="https://documize.com/welcome">Add team...</a></li>
            </ul>
        {{/dropdown-menu}}

        {{#dropdown-menu target="user-button" position="bottom right" open="click" }}
            <ul class="menu">
                <li class="item">
                    {{#link-to 'profile'}}Profile{{/link-to}}
                </li>
                {{#if session.isAdmin}}
                    <li class="item">
                        {{#link-to 'customize.general'}}Settings{{/link-to}}
                    </li>
                {{/if}}
                <li class="divider"></li>
                <li class="item">
                    {{#link-to 'auth.logout'}}Logout{{/link-to}}
                </li>
            </ul>
        {{/dropdown-menu}}
    {{/if}}
</div>
