<div id="{{contentId}}" class="dropdown-dialog {{cssClass}}">
	<form class="form" {{action 'onAction' on="submit"}}>
		<div class="content">
	        {{yield}}
	    </div>
	    <div class="actions">
	        {{#if showCancel}}
	            <div class="flat-button" {{action 'onCancel'}}>cancel</div>
	        {{/if}}
			{{#if hasSecondButton}}
				<div class="flat-button {{color2}}" {{action 'onAction2'}}>{{button2}}</div>
			{{/if}}
	        <div class="flat-button {{color}} dropdown-dialog-action-button" {{action 'onAction'}}>{{button}}</div>
	    </div>
	    <div class="clearfix"></div>
	</form>
</div>
