<div class="view-profile">
    <div class="form-group">
        <label for="firstname">Firstname</label>
        {{focus-input id="firstname" type="text" value=model.firstname class=(if hasFirstnameError 'form-control is-invalid' 'form-control')}}
    </div>
    <div class="form-group">
        <label for="lastname">Lastname</label>
        {{input id="lastname" type="text" value=model.lastname class=(if hasLastnameError 'form-control is-invalid' 'form-control')}}
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        {{input id="email" type="email" value=model.email class=(if hasEmailError 'form-control is-invalid' 'form-control')}}
    </div>
    {{#if isAuthProviderDocumize}}
        <div class="form-group">
            <label for="password">Password</label>
            {{input id="password" type="password" value=password.password class=(if hasPasswordError 'form-control is-invalid' 'form-control')}}
        </div>
        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            {{input id="confirmPassword" type="password" value=password.confirmation class=(if hasConfirmPasswordError 'form-control is-invalid' 'form-control')}}
        </div>
    {{/if}}
    <div class="btn btn-success" {{action 'save'}}>Save</div>
</div>
