<div class="global-folder-settings">
    <div class="form-header">
        <div class="title">{{folders.length}} shared {{label}}</div>
        <div class="tip">View and change shared space ownership</div>
    </div>
    <div class="input-control">
        <table class="basic-table">
            <thead>
                <tr>
                    <th class="bordered">Space</th>
                    <th class="bordered">Participants</th>
                </tr>
            </thead>
            <tbody>
                {{#each folders as |folder|}}
                    <tr>
                        <td class="bordered">
                            {{#link-to 'folder' folder.id folder.slug class="alt"}}{{folder.name}}{{/link-to}}
                        </td>
                        <td class="bordered">
                            {{#each folder.sharedWith as |person|}}
                                {{#if person.isEveryone}}
                                    Everyone
                                {{else}}

                                    {{#if person.isOwner}}
                                        <span class="bold">{{person.firstname}} {{person.lastname}} (owner)</span>
                                    {{else}}
                                        {{person.firstname}} {{person.lastname}}
                                        <a class="action-link" {{action "changeOwner" folder.id person.userId}}>make owner</a>
                                    {{/if}}
                                {{/if}}
                                <br/>
                            {{/each}}
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
