

{{#section/base-editor document=document folder=folder page=page busy=busy
	tip="GitHub is how people build software. (https://github.com)"
	isDirty=(action 'isDirty') onCancel=(action 'onCancel') onAction=(action 'onAction')}}

	<div class="section-github-editor">

	{{#if authenticated}}

		<div class="pull-left width-50">
			<div class="input-form">
				<div class="heading">
					<div class="title">Select Repository</div>
					<div class="tip">Choose source of code information to be displayed</div>
				</div>
				<div class="input-control">
						<label>Organizations and User</label>
						<div class="tip">Select organization or username</div>
						{{ui-select id="owners-dropdown" content=owners action=(action 'onOwnerChange') optionValuePath="id" optionLabelPath="name" selection=config.owner}}
				</div>
				{{#if noRepos}}
					<div class="input-control">
						<div class="color-error">You have no repositories.</div>
					</div>
				{{else}}
					<div class="input-control">
						<label>Repositories</label>
						<div class="tip">Select repository</div>
						{{ui-select id="repos-dropdown" content=repos action=(action 'onRepoChange') optionValuePath="id" optionLabelPath="name" selection=config.repo}}
					</div>
					<div class="input-control">
						<label>Report</label>
						<div class="tip">Select report type</div>
						{{ui-select id="report-dropdown" content=reports action=(action 'onReportChange') optionValuePath="id" optionLabelPath="name" selection=config.report}}
					</div>
					{{#if showCommits}}
						<div class="input-control">
							<label>Branches</label>
							<div class="tip">Select branch</div>
							<div class="github-board">
								{{#each config.lists as |list|}}
									<div class="github-list" {{action 'onListCheckbox' list.id}}>
										{{#if list.included}}
											<i class="material-icons widget-checkbox checkbox-gray github-list-checkbox">check_box</i>
										{{else}}
											<i class="material-icons widget-checkbox checkbox-gray github-list-checkbox">check_box_outline_blank</i>
										{{/if}}
										<span class="github-list-title">{{list.name}}</span>
									</div>
								{{/each}}
								<div class="clearfix" />
							</div>
						</div>
					{{/if}}
				{{/if}}
			</div>
		</div>

	{{else}}

		<div class="pull-left width-50">
			<div class="input-form">
				<form>
					<div class="heading">
						<div class="title">Authentication</div>
						<div class="tip">Click to authenticate with Github</div>
					</div>
					<div class="regular-button button-blue" {{ action 'auth' }}>Authenticate</div>
				</form>
			</div>
		</div>

	{{/if}}
	
	</div>

{{/section/base-editor}}
