{{layout/nav-bar}}

<div class="container">
	{{#toolbar/t-toolbar}}
		{{#toolbar/t-links}}
			{{#link-to "folders" class="link" tagName="li"}}SPACES{{/link-to}}
		{{/toolbar/t-links}}
		{{#toolbar/t-actions}}
		{{/toolbar/t-actions}}
	{{/toolbar/t-toolbar}}

	<div class="view-search mt-5">
		<div class="heading">Search</div>
		<div class="form-group mt-4">
			{{focus-input type="text" value=filter class="form-control mb-4" placeholder='a OR b, x AND y, "phrase mat*"'}}
			<div class="form-check form-check-inline">
				<label class="form-check-label">
					{{input type="checkbox" id=checkId class="form-check-input" checked=matchDoc}} document title
				</label>
			</div>
			<div class="form-check form-check-inline">
				<label class="form-check-label">
					{{input type="checkbox" id=checkId class="form-check-input" checked=matchContent}} content
				</label>
			</div>
			<div class="form-check form-check-inline">
				<label class="form-check-label">
					{{input type="checkbox" id=checkId class="form-check-input" checked=matchTag}} tag name
				</label>
			</div>
			<div class="form-check form-check-inline">
				<label class="form-check-label">
					{{input type="checkbox" id=checkId class="form-check-input" checked=matchFile}} attachment name
				</label>
			</div>
		</div>

		{{search/search-results results=results}}
	</div>
</div>
