{{toolbar/nav-bar}}

{{#toolbar/t-toolbar}}
	{{#toolbar/t-links}}
		{{#link-to "folders" class="link" tagName="li" }}Spaces{{/link-to}}
	{{/toolbar/t-links}}
	{{#toolbar/t-actions}}
	{{/toolbar/t-actions}}
{{/toolbar/t-toolbar}}

<div class="container">
	<div class="view-search mt-5">
		<div class="heading">Search</div>
		<form onsubmit={{action 'onSearch'}}>
			<div class="form-group mt-4">
				{{focus-input type="text" value=filter class="form-control mb-4" placeholder='a OR b, x AND y, "phrase mat*"'}}
				<div class="form-check form-check-inline">
					{{input type="checkbox" id="search-1" class="form-check-input" checked=matchDoc}}
					<label class="form-check-label" for="search-1">&nbsp;document title</label>
				</div>
				<div class="form-check form-check-inline">
					{{input type="checkbox" id="search-2" class="form-check-input" checked=matchContent}}
					<label class="form-check-label" for="search-2">&nbsp;content</label>
				</div>
				<div class="form-check form-check-inline">
					{{input type="checkbox" id="search-3" class="form-check-input" checked=matchTag}}
					<label class="form-check-label" for="search-3">&nbsp;tag name</label>
				</div>
				<div class="form-check form-check-inline">
					{{input type="checkbox" id="search-4" class="form-check-input" checked=matchFile}}
					<label class="form-check-label" for="search-4">&nbsp;attachment name</label>
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-success" {{action 'onSearch'}}>Search</button>
			</div>
		</form>

		{{search/search-results results=results keywords=filter}}
	</div>
</div>