<div class="document-sidebar">
	{{back-to-space document=model folder=folder}}

	{{#if session.authenticated}}
		<div class="summary-line hidden-xs hidden-sm">
			<ul class="items">
				<li class="item {{if showToc "active"}}" {{action 'showToc'}}>
					<div class="metric">
						<div class="number">{{pages.length}}</div>
			            <div class="label">sections</div>
					</div>
		        </li>
				<li class="divider" />
		        <li class="item {{if showViews "active"}}" {{action 'showViews'}}>
					<div class="metric">
						<div class="number">{{meta.viewers.length}}</div>
			            <div class="label">views</div>
					</div>
		        </li>
				<li class="divider" />
		        <li class="item {{if showContributions "active"}}" {{action 'showContributions'}}>
					<div class="metric">
						<div class="number">{{meta.editors.length}}</div>
			            <div class="label">activity</div>
					</div>
		        </li>
		    </ul>
		</div>
	{{else}}
		<div class="margin-top-40" />
	{{/if}}

	{{#if isEditor}}
		<div {{action 'showSections'}} id="section-tool" class="round-button round-button-mono button-white section-tool" data-tooltip="Content" data-tooltip-position="top center">
			<i class="material-icons color-green">add</i>
		</div>
		{{#if showingSections}}
			<div {{action 'onCancel'}} id="cancel-tool" class="round-button round-button-mono button-white section-tool">
				<i class="material-icons color-gray">close</i>
			</div>
		{{/if}}
	{{/if}}

	{{#if showScrollTool}}
		<div {{action 'scrollTop'}} id="scroll-tool" class="round-button round-button-mono button-white scroll-tool" data-tooltip="Back to top" data-tooltip-position="top center">
			<i class="material-icons color-gray">vertical_align_top</i>
		</div>
	{{/if}}

	{{#if showToc}}
		{{document/document-sidebar-toc document=model folder=folder pages=pages page=page isEditor=isEditor
			changePageSequence=(action 'onPageSequenceChange') changePageLevel=(action 'onPageLevelChange')
			gotoPage=(action 'gotoPage')}}
	{{/if}}
	{{#if showViews}}
		{{document/document-sidebar-viewers meta=meta}}
	{{/if}}
	{{#if showContributions}}
		{{document/document-sidebar-edits pages=pages meta=meta}}
	{{/if}}
	{{#if showSections}}
		{{document/page-wizard document=document folder=folder onCancel=(action 'onCancel') onAction=(action 'onAddSection')}}
	{{/if}}
</div>
