<div class="meta-editors">
    <ul class="items">
        {{#each meta.editors as |edit|}}
            <li class="item">
                <div class="avatar-box">
                    <div class="avatar">{{user-initials edit.firstname edit.lastname}}</div>
                </div>
                <div class="detail">
                    <div class="name">{{edit.firstname}} {{edit.lastname}}</div>
                    {{#if edit.deleted}}
                        <div class="deleted">{{edit.changeLabel}}</div>
                    {{else}}
                        <a class="changed">{{edit.changeLabel}}</a>
                    {{/if}}
                    <div class="date">{{time-ago edit.created}}</div>
                </div>
            </li>
        {{/each}}
    </ul>
</div>
