<div id="page-{{ page.id }}" class="is-a-tab wysiwyg {{if expanded 'tab-max' 'tab-min'}}" data-id="{{ page.id }}" data-type="{{ page.contentType }}">
	{{document/tab-heading tagName=page.tagName document=document folder=folder page=page isEditor=isEditor
		onExpand=(action 'onExpand') onSavePageAsBlock=(action 'onSavePageAsBlock') onCopyPage=(action 'onCopyPage') onMovePage=(action 'onMovePage') onDeletePage=(action 'onDeletePage')}}
	{{#if expanded}}
		{{section/base-renderer page=page}}
	{{/if}}
</div>
