<div class="document-view">
	{{#if document.template}}
		<div class="is-template">TEMPLATE</div>
	{{/if}}

	{{document/tag-editor documentTags=document.tags isEditor=isEditor onChange=(action 'onTagChange')}}

	<div class="print-title">
		{{document.name}}
	</div>

	{{#if attachments}}
		<div class="attachment-zone">
			<ul class="list">
				{{#each attachments key="id" as |a index|}}
					<li class="item">
						<img class="icon" src="assets/img/attachments/{{document/file-icon a.extension}}" />
						<a href="{{ appMeta.apiUrl }}api/public/attachments/{{ appMeta.orgId }}/{{ a.job }}/{{ a.fileId }}">
							<span class="file">{{ a.filename }}</span>
						</a>
						{{#if isEditor}}
							<div class="action round-button-mono">
								<i class="material-icons delete-attachment-{{a.id}}" title="Delete" {{action 'confirmDeleteAttachment' a.id a.filename}}>delete</i>
							</div>
						{{/if}}
					</li>
				{{/each}}
			</ul>
		</div>
	{{/if}}

    <div class="pages">
        {{#each pages key="id" as |page index|}}
            <div class="wysiwyg">
                <div id="page-{{ page.id }}" class="is-a-page" data-id="{{ page.id }}" data-type="{{ page.contentType }}">
                    {{document/page-heading tagName=page.tagName document=document folder=folder page=page isEditor=isEditor onDeletePage=(action 'onDeletePage')}}
					{{section/base-renderer page=page}}
                </div>
            </div>
        {{/each}}
    </div>

    <div class="dropdown-dialog delete-attachment-dialog">
        <div class="content">
            <p>Are you sure you want to delete <span class="bold">{{deleteAttachment.name}}?</span></p>
        </div>
        <div class="actions">
            <div class="flat-button" {{action 'cancel'}}>
                cancel
            </div>
            <div class="flat-button flat-red" {{action 'deleteAttachment'}}>
                delete
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>

{{#if noSections}}
    <div class="no-sections">
        <div class="box">
            <div class="regular-button button-green">
                <i class="material-icons">add</i>
				<div class="name">section</div>
            </div>
            <div class="message">Add a new section to this document</div>
        </div>
    </div>
{{/if}}
