<div class="document-sidebar">
	{{#if session.authenticated}}
		<div class="summary-line hidden-xs hidden-sm">
			<ul class="items">
				<li class="item">
					<div id="owner-avatar" class="avatar" data-tooltip="{{owner.fullname}}" data-tooltip-position="right middle">{{owner.initials}}</div>
				</li>
				<li class="divider" />
		        <li class="item" {{action 'showViews'}}>
					<div class="metric">
						<div class="number">{{meta.viewers.length}}</div>
			            <div class="label">views</div>
					</div>
		        </li>
				<li class="divider" />
		        <li class="item" {{action 'showContributions'}}>
					<div class="metric">
						<div class="number">{{meta.editors.length}}</div>
			            <div class="label">activity</div>
					</div>
		        </li>
		    </ul>
		</div>
	{{else}}
		<div class="margin-top-40" />
	{{/if}}

	{{#if showToc}}
		{{document/document-sidebar-toc document=model folder=folder pages=pages page=page isEditor=isEditor
			changePageSequence=(action 'onPageSequenceChange') changePageLevel=(action 'onPageLevelChange')
			gotoPage=(action 'gotoPage')}}
	{{/if}}
	{{#if showViews}}
		{{document/document-sidebar-close-action close=(action 'showToc')}}
		{{document/document-sidebar-viewers meta=meta}}
	{{/if}}
	{{#if showContributions}}
		{{document/document-sidebar-close-action close=(action 'showToc')}}
		{{document/document-sidebar-edits pages=pages meta=meta}}
	{{/if}}
</div>
