{{#unless editMode}}
	<div class="{{if isEditor 'cursor-pointer'}}" onclick={{if isEditor (action 'toggleEdit')}}>
		<h1 class="doc-title">{{document.name}}</h1>
		<div class="doc-excerpt">{{document.excerpt}}</div>
	</div>
{{else}}
	<div class="edit-document-heading">
		<div class="input-inline input-transparent edit-doc-title">
			{{focus-input id="document-name" type="text" value=docName class=(if hasNameError 'error-inline') placeholder="Name" autocomplete="off"}}
		</div>
		<div class="input-inline input-transparent edit-doc-excerpt">
			{{input id="document-excerpt" type="text" value=docExcerpt class=(if hasExcerptError 'error-inline') placeholder="Excerpt" autocomplete="off"}}
		</div>
		<div>
			<div class="round-button-mono" {{action 'onSaveDocument'}}>
				<i class="material-icons color-green">check</i>
			</div>
			<div class="round-button-mono" {{action 'cancel'}}>
				<i class="material-icons color-gray">close</i>
			</div>
		</div>
	</div>
{{/unless}}
