<div class="document-sidebar">
	{{back-to-space folder=folder}}
	<div class="margin-top-40" />

	{{#if isEditor}}
		<div {{action 'showSections'}} id="section-tool" class="round-button round-button-mono button-white section-tool" data-tooltip="Content" data-tooltip-position="top center">
			<i class="material-icons color-green">add</i>
		</div>
		{{#if showingSections}}
			<div {{action 'onCancel'}} id="cancel-tool" class="round-button round-button-mono button-white section-tool">
				<i class="material-icons color-gray">close</i>
			</div>
		{{/if}}
	{{/if}}

	{{#if showScrollTool}}
		<div {{action 'scrollTop'}} id="scroll-tool" class="round-button round-button-mono button-white scroll-tool" data-tooltip="Back to top" data-tooltip-position="top center">
			<i class="material-icons color-gray">vertical_align_top</i>
		</div>
	{{/if}}

	{{#if showToc}}
		{{document/document-sidebar-toc document=document folder=folder pages=pages page=page isEditor=isEditor
			changePageSequence=(action 'onPageSequenceChange') changePageLevel=(action 'onPageLevelChange')
			gotoPage=(action 'gotoPage')}}
	{{/if}}
	{{#if showSections}}
		{{document/page-wizard display='section' document=document folder=folder sections=sections blocks=blocks
		onCancel=(action 'onCancel') onAddSection=(action 'onAddSection') onInsertBlock=(action 'onInsertBlock')}}
	{{/if}}
</div>
