<div class="edit-tools">

	<div class="square-button-mono button-gray" id="content-linker-button" data-tooltip="Insert content link" data-tooltip-position="left middle">
		<i class="material-icons color-white">link</i>
	</div>

	{{#dropdown-dialog target="content-linker-button" position="bottom right" button="Insert" color="flat-blue" onAction=(action 'onInsertLink')}}
		<div class="content-linker-dialog">
			<form>
				{{ui/ui-tab tabs=tabs onTabSelect=(action 'onTabSelect')}}

				<div class="margin-top-40" />

				{{#if showSections}}
					<ul class="link-list">
						{{#each candidates.pages as |p|}}
							<li class="link-item" {{ action 'setSelection' p }}>
								{{#ui/ui-checkbox selected=p.selected}}
									{{p.title}}
								{{/ui/ui-checkbox}}
							</li>
						{{/each}}
					</ul>
				{{/if}}

				{{#if showAttachments}}
					<ul class="link-list">
						{{#each candidates.attachments as |a|}}
							<li class="link-item" {{ action 'setSelection' a }}>
								{{#ui/ui-checkbox selected=a.selected}}
									<img class="icon" src="/assets/img/attachments/{{document/file-icon a.context}}" />
									{{ a.title }}
								{{/ui/ui-checkbox}}
							</li>
						{{/each}}
					</ul>
				{{/if}}

				{{#if showSearch}}
					<div class="input-control">
						<label>Search</label>
						<div class="tip">keywords</div>
						{{focus-input id="content-linker-search" type="input" value=keywords placeholder="keyword search"}}
					</div>
				{{/if}}

				<div class="hide regular-button button-blue pull-right" {{ action 'onInsertLink' }}>Insert</div>
				<div class="hide clearfix" />
			</form>
		</div>
	{{/dropdown-dialog}}

</div>
