<div class="page-title">
    <span id="page-title-{{ page.id }}">{{ page.title }}</span>
    <div id="page-toolbar-{{ page.id }}" class="pull-right page-toolbar hidden-xs hidden-sm">
        {{#if isEditor}}
			{{#link-to 'document.edit' folder.id folder.slug document.id document.slug page.id}}
	            <div class="round-button-mono page-action-button" data-tooltip="Edit" data-tooltip-position="top center">
	                <i class="material-icons color-gray">mode_edit</i>
	            </div>
			{{/link-to}}

            <div id="page-menu-{{page.id}}" class="round-button-mono page-action-button" data-tooltip="More options" data-tooltip-position="top center">
                <i class="material-icons color-gray">more_vert</i>
            </div>

			{{#dropdown-menu target=menuTarget position="bottom right" open="click" onOpenCallback=(action 'onMenuOpen') onCloseCallback=(action 'onMenuOpen')}}
				<ul class="menu">
					<li class="item">Duplicate</li>
					<li class="item">Move</li>
					<li class="item" id="saveas-page-button-{{page.id}}">Publish</li>
					<li class="divider"></li>
					<li class="item danger" id={{deleteButtonId}}>Delete</li>
				</ul>
			{{/dropdown-menu}}

			{{#if menuOpen}}
	            {{#dropdown-dialog target=deleteButtonId position="top right" button="Delete" color="flat-red" onAction=(action 'deletePage' page.id)}}
	                <p>Are you sure you want to delete <span class="bold">{{page.title}}?</span></p>
	                <p>
	                    {{input type="checkbox" id=checkId class="margin-left-20" checked=deleteChildren}}
	                    <label for="{{checkId}}">&nbsp;Delete child pages</label>
	                </p>
	            {{/dropdown-dialog}}
				{{#dropdown-dialog id=saveAsDialogId target=saveAsTarget position="top right" button="Publish" color="flat-green" focusOn=blockTitleId onAction=(action 'onAddBlock' page)}}
					<div class="form-header">
						<div class="tip">
							<span class="bold">{{folder.name}}:</span> Content Block
						</div>
					</div>
					<div class="input-control">
						<label>Name</label>
						<div class="tip">Short title for reusable content block</div>
						{{input type="text" value=blockTitle id=blockTitleId}}
					</div>
					<div class="input-control">
						<label>Name</label>
						<div class="tip">Short description to help others understand<br/>the reusable content block</div>
						{{textarea rows="3" value=blockExcerpt id=blockExcerptId}}
					</div>
	            {{/dropdown-dialog}}
			{{/if}}
        {{/if}}
    </div>
</div>
