<div class="{{display}}-wizard">
	<div class="canvas">
		<ul class="list">
			{{#each sections as |section|}}
				<li class="item" {{action 'addSection' section}}>
					<div class="icon">
						<img class="img" src="/sections/{{section.contentType}}.png" srcset="/sections/{{section.contentType}}@2x.png" />
					</div>
					<div class="details">
						<div class='title'>
							{{section.title}}
							{{#if section.preview}}
								<div class="preview">coming soon</div>
							{{/if}}
						</div>
						<div class='desc'>{{section.description}}</div>
					</div>
					<div class="clearfix" />
				</li>
			{{/each}}
		</ul>
		{{#if hasBlocks}}
			<div class="divider"></div>
			<div class="template-caption">Reusable Content</div>
			<ul class="list">
				{{#each blocks as |block|}}
					<li class="item" {{action 'onInsertBlock' block}}>
						<div class="icon">
							<img class="img" src="/assets/img/section-saved.png" srcset="/assets/img/section-saved@2x.png" />
						</div>
						<div class="details">
							<div class='title'>
								{{block.title}}
							</div>
							<div class='desc'>{{block.excerpt}}</div>
							<div class='desc'>By {{block.firstname}} {{block.lastname}}, {{time-ago block.created}} (used: {{ block.used }})</div>
						</div>
						<div class="clearfix" />
					</li>
				{{/each}}
			</ul>
		{{else}}
			<div class="divider"></div>
			<div class="template-caption">No reusable content</div>
		{{/if}}
	</div>
</div>
