<div class="logo-heading">
	{{#if icon}}
		<div class="icon">
			<i class="dicon {{icon}}" />
		</div>
	{{else if meta}}
		<div class="meta-icon">
			{{ui/ui-icon-meta icon=meta}}
		</div>
	{{/if}}
	<div class="text">
		{{layout/page-heading title=title}}
		{{layout/page-desc desc=desc}}
	</div>
</div>
{{ui/ui-spacer size=300}}