<div id="sidebar-wrapper">
	<div class="navigation">
		{{#link-to 'folders' tagName="div" class="round-button-mono button-white"}}
			<i class="material-icons">home</i>
		{{/link-to}}
		<div class="button-gap" />
		{{#link-to 'search' tagName="div" class="round-button-mono button-white"}}
			<i class="material-icons icon-tool">search</i>
		{{/link-to}}
		{{#if session.authenticated}}
			{{#if hasPins}}
				<div class="button-gap" />
				<div class="round-button-mono button-white" id="user-pins-button">
					<i class="material-icons">favorite</i>
				</div>
			{{/if}}
			<div class="button-gap" />
			<div class="round-button-mono button-white" id="profile-button">
				<i class="material-icons profile-link">{{session.user.initials}}</i>
			</div>
			{{#dropdown-menu target="profile-button" position="bottom left" open="click"}}
				<ul class="menu">
					{{#link-to 'profile' tagName="li" class="item"}}Profile{{/link-to}}
					{{#if session.isAdmin}}
						{{#link-to 'customize.general' tagName="li" class="item"}}Settings{{/link-to}}
					{{/if}}
					{{#if enableLogout}}
						<li class="divider"></li>
						{{#link-to 'auth.logout' tagName="li" class="item"}}Logout{{/link-to}}
					{{/if}}
				</ul>
			{{/dropdown-menu}}
			{{#if hasPins}}
				{{#dropdown-menu target="user-pins-button" position="bottom left" open="click"}}
					<ul class="menu">
						{{#each pins as |pin|}}
							<li {{action 'jumpToPin' pin}} data-id={{pin.id}} id="pin-{{pin.id}}" class="item">{{pin.pin}}</li>
						{{/each}}
					</ul>
				{{/dropdown-menu}}
			{{/if}}
		{{else}}
			{{#link-to 'auth.login'}}
				<div class="button-gap" />
				<div class="round-button-mono button-white">
					<i class="material-icons">lock_open</i>
				</div>
			{{/link-to}}
		{{/if}}
	</div>
	{{yield}}
</div>
