{{#layout/master-sidebar}}
	{{ui/ui-spacer size=300}}

	<div class="section">
		{{#link-to "document.index"}}
			{{ui/ui-button color=constants.Color.Yellow light=true icon=constants.Icon.ArrowLeft label="Document"}}
		{{/link-to}}

		{{ui/ui-spacer size=400}}

		<div class="title">REVISIONS</div>
		<div class="list">
			{{#each revisions as |revision|}}
				<div class="item {{if (eq selectedRevision revision) "selected"}}" {{action "onRevision" revision}}>
					<i class={{concat "dicon " constants.Icon.TriangleSmallRight}} />
					<div class="name">{{formatted-date revision.created}}</div>
				</div>
			{{/each}}
		</div>
	</div>
{{/layout/master-sidebar}}

{{#layout/master-content}}
	{{layout/logo-heading
		title="Content Revisions"
		desc="Review previous content changes and roll back edits"
		icon=constants.Icon.TimeBack}}

	{{document/view-revision
		pages=pages
		folder=folder
		document=document
		permissions=permissions
		revisions=revisions
		revision=selectedRevision
		onRollback=(action "onRollback")}}
{{/layout/master-content}}

