{{layout/logo-heading
	title=(localize 'section_papertrail')
	desc=(localize 'section_papertrail_explain')
	icon=constants.Icon.Integrations}}

{{#section/base-editor document=document folder=folder page=page busy=waiting
	isDirty=(action "isDirty") onCancel=(action "onCancel") onAction=(action "onAction")}}

	<div class="grid-container-5-5">
		<div class="grid-cell-1">
			<form {{action "auth" on="submit"}} >
				<div class="form-group">
					<label>{{localize 'section_papertrail_key'}}</label>
					{{focus-input id="papertrail-apitoken" type="password" value=config.APIToken class="form-control"}}
				</div>
				{{ui/ui-button color=constants.Color.Green light=true label=(localize 'authenticate') onClick=(action "auth")}}
			</form>
		</div>
		<div class="grid-cell-2">
			{{#if authenticated}}
				<form {{action "onAction" on="submit"}} role="form">
					<div class="form-group">
						<label for="papertrail-query">{{localize 'section_papertrail_search'}}</label>
						{{input id="papertrail-query" type="text" class="form-control mousetrap" value=config.query}}
						<small class="form-text text-muted">{{localize 'section_papertrail_search_explain'}}</small>
					</div>
					<div class="form-group">
						<label for="papertrail-max">{{localize 'section_papetrail_max'}}</label>
						{{input id="papertrail-max" type="number" class="form-control mousetrap" value=config.max}}
						<small class="form-text text-muted">{{localize 'section_papetrail__max_explain'}}</small>
					</div>
					<div class="form-group">
						<label for="group-dropdown">{{localize 'section_papetrail_group'}}</label>
						{{ui/ui-select id="group-dropdown" prompt="<group>" content=options.groups action=(action "onGroupsChange") optionValuePath="id" optionLabelPath="name" selection=config.group}}
						<small class="form-text text-muted">{{localize 'section_papetrail_group_explain'}}</small>
					</div>
				</form>
			{{/if}}
		</div>
	</div>

{{/section/base-editor}}
