<div class="search-results">
    <div class="heading">{{resultPhrase}}</div>
    <ul class="list">
        {{#each documents key="doc.id" as |result index|}}
            <li class="item">
                <a class="link" href="s/{{result.doc.folderId}}/{{result.doc.folderSlug}}/d/{{ result.doc.documentId }}/{{result.doc.documentSlug}}?page={{ result.doc.id }}">
                    <div class="title">{{ result.doc.documentTitle }}</div>
					<div class="folder">{{ result.doc.folderName }}</div>
					<div class="excerpt">{{ result.doc.documentExcerpt }}</div>
					<div class="chips">{{search/tag-list documentTags=result.doc.documentTags}}</div>
                </a>
            </li>
        {{/each}}
    </ul>
</div>
