<div id="wrapper" class={{if toggled 'toggled'}}>
	
	<div id="sidebar-wrapper">
		<div class="document-sidebar-content">
			{{#if model.document.template}}
				<div class="is-template">TEMPLATE</div>
			{{/if}}
			{{document/tag-editor documentTags=model.document.tags isEditor=model.isEditor onChange=(action 'onTagChange')}}
			{{#layout/zone-document-sidebar}}
			{{/layout/zone-document-sidebar}}
		</div>
		<div class="document-sidebar-toolbar">
			<div class="round-button-mono">
				<i class="material-icons color-gray">more_horiz</i>
			</div>
			<div class="margin-top-20"></div>
			<div class="round-button-mono">
				<i class="material-icons color-gray">view_headline</i>
			</div>
			<div class="margin-top-20"></div>
			<div class="round-button-mono">
				<i class="material-icons color-gray">attach_file</i>
			</div>
			<div class="margin-top-20"></div>
			<div class="round-button-mono">
				<i class="material-icons color-gray">timeline</i>
			</div>
			<div class="margin-top-20"></div>
			<div class="round-button-mono">
				<i class="material-icons color-gray">person</i>
			</div>
			<div class="margin-top-20"></div>
			<div class="round-button-mono">
				<i class="material-icons color-gray">chat_bubble</i>
			</div>
			<div class="margin-top-20"></div>
			<div class="round-button-mono">
				<i class="material-icons color-gray">share</i>
			</div>
		</div>
	</div>

	<div id="page-content-wrapper">
		<div class="{{if toggled 'container' 'container-fluid'}}">
			<div class="row">
				<div class="col-lg-12">
					{{#if toggled}}
						<div id="sidebar-toggle" class="pull-right" {{action 'toggleSidebar'}}>
							<div class="round-button button-black">
								<i class="material-icons">keyboard_arrow_left</i>
							</div>
						</div>
					{{else}}
						<div id="sidebar-toggle" class="pull-right" {{action 'toggleSidebar'}}>
							<div class="round-button button-black">
								<i class="material-icons">keyboard_arrow_right</i>
							</div>
						</div>
					{{/if}}
					<div id="zone-document-content" class="zone-document-content">
						<div class="back-to-space">
							{{#link-to 'folder' model.folder.id model.folder.slug}}
								<i class="material-icons">arrow_back</i>&nbsp;{{model.folder.name}}
							{{/link-to}}
						</div>
						{{document/document-heading document=model.document isEditor=model.isEditor onSaveDocument=(action 'onSaveDocument')}}
						{{document/document-view document=model.document links=model.links pages=model.pages
							folder=model.folder folders=model.folders sections=model.sections isEditor=model.isEditor pageId=pageId
							onSavePage=(action 'onSavePage') onInsertSection=(action 'onInsertSection') 
							onSavePageAsBlock=(action 'onSavePageAsBlock') onDeleteBlock=(action 'onDeleteBlock') 
							onCopyPage=(action 'onCopyPage') onMovePage=(action 'onMovePage') onDeletePage=(action 'onPageDeleted')}}
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
