<div class="product-update">
	<div class="update-status">
		{{!-- appMeta.updateAvailable --}}
		{{#if true}}
			<a  class="title" href="https://documize.com/downloads">Documize product update is available :)</a>
			<p class="instructions">
				To upgrade, replace existing binary and restart Documize. Migrate between Community and Enterprise editions seamlessly.
			</p>
		{{else}}
			<div class="title">Product Downloads</div>
		{{/if}}
		<div class="links">
			<p>
				<span class="edition-name">Community Edition {{appMeta.communityLatest}}</span>&nbsp;&nbsp;&nbsp;
				<a class="link" href="https://storage.googleapis.com/documize/downloads/documize-community-windows-amd64.exe">Windows</a>&nbsp;&middot;
				<a class="link" href="https://storage.googleapis.com/documize/downloads/documize-community-linux-amd64">Linux</a>&nbsp;&middot;
				<a class="link" href="https://storage.googleapis.com/documize/downloads/documize-community-darwin-amd64">macOS</a>&nbsp;
			</p>
			<p>
				<span class="edition-name">Enterprise Edition {{appMeta.enterpriseLatest}}</span>&nbsp;&nbsp;&nbsp;
				<a class="link" href="https://storage.googleapis.com/documize/downloads/documize-enterprise-windows-amd64.exe">Windows</a>&nbsp;&middot;
				<a class="link" href="https://storage.googleapis.com/documize/downloads/documize-enterprise-linux-amd64">Linux</a>&nbsp;&middot;
				<a class="link" href="https://storage.googleapis.com/documize/downloads/documize-enterprise-darwin-amd64">macOS</a>&nbsp;
			</p>
		</div>
	</div>
	{{ui/ui-spacer size=400}}
	<div class="change-log">
		{{{changelog}}}
	</div>
</div>
