<div class="view-customize">
	<div class="form-group">
		<label for="siteTitle">{{localize 'customize_name'}}</label>
		{{focus-input id="siteTitle" type="text" value=model.general.title class=(if hasTitleInputError "form-control is-invalid" "form-control")}}
		<small class="form-text text-muted">{{localize 'customize_name_explain'}}</small>
	</div>
	<div class="form-group">
		<label id="siteMessage">{{localize 'customize_message'}}</label>
		<div id="editor-message" class="wysiwyg wysiwyg-editor">
			{{{model.general.message}}}
		</div>
		<small class="form-text text-muted">{{localize 'customize_message_explain'}}</small>
	</div>
	<div class="form-group">
		<label>{{localize 'customize_theme'}}</label>
		{{ui/theme-picker onChange=(action "onThemeChange")}}
	</div>
	<div class="form-group">
		<label>{{localize 'customize_logo'}}</label>
		<div>
			{{ui/ui-button light=true color=constants.Color.Gray label=(localize 'customize_logo_default') onClick=(action "onDefaultLogo")}}
			{{ui/ui-button-gap}}
			{{ui/ui-button light=true color=constants.Color.Yellow label=(localize 'customize_logo_upload') id="upload-logo"}}
		</div>
		<small class="form-text text-muted">{{localize 'customize_logo_explain'}}</small>
	</div>
	{{#if (eq appMeta.location "selfhost")}}
		<div class="form-group">
			<label for="orgDomain">{{localize 'customize_subdomain'}}</label>
			{{input id="orgDomain" type="text" value=domain class="form-control" placeholder="e.g. docs"}}
			<small class="form-text text-muted">{{localize 'customize_subdomain_explain'}}</small>
		</div>
	{{/if}}

	<div class="form-group">
		<label>{{localize 'customize_anon'}}</label>
		{{x-toggle value=model.general.allowAnonymousAccess size="medium" theme="light" onToggle=(action (mut model.general.allowAnonymousAccess))}}
		<small class="form-text text-muted">{{localize 'customize_anon_explain'}}</small>
	</div>
	<div class="form-group">
		<label for="conversionEndpoint">{{localize 'customize_conversion_url'}}</label>
		{{input id="conversionEndpoint" type="text" value=model.general.conversionEndpoint class=(if hasConversionEndpointInputError "form-control is-invalid" "form-control")}}
		<small class="form-text text-muted">
			{{localize 'customize_conversion_explain'}} (See <a href="https://docs.documize.com/s/WNEpptWJ9AABRnha/administration-guides/d/WO0pt_MXigAB6sJ7/general-options">documentation</a>)
		</small>
	</div>
	<div class="form-group">
		<label for="maxTags">{{localize 'customize_tags'}}</label>
		<select class="form-control" id="maxTags" {{action "change" on="change"}}>
			<option selected={{is-equal 3 maxTags}} value="3">3</option>
			<option selected={{is-equal 4 maxTags}} value="4">4</option>
			<option selected={{is-equal 5 maxTags}} value="5">5</option>
			<option selected={{is-equal 6 maxTags}} value="6">6</option>
			<option selected={{is-equal 7 maxTags}} value="7">7</option>
			<option selected={{is-equal 8 maxTags}} value="8">8</option>
			<option selected={{is-equal 9 maxTags}} value="9">9</option>
			<option selected={{is-equal 10 maxTags}} value="10">10</option>
		</select>
		<small class="form-text text-muted">{{localize 'customize_tags_explain'}}</small>
	</div>
    <div class="form-group">
        <label>{{localize 'locale'}}</label>
        {{ui/ui-select content=locales selection=locale optionValuePath="name" optionLabelPath="name" action=(action "onSelectLocale")}}
    </div>

	{{ui/ui-button color=constants.Color.Green light=true icon=constants.Icon.Settings label=(localize 'save') onClick=(action "save")}}
</div>
