<div class="view-customize">
	<form>
		<h2>Jira</h2>
		<div class="form-group">
			<label for="jira-url">{{localize 'integration_jira_url'}}</label>
			{{focus-input id="jira-url" type="text" value=jiraCreds.url class="form-control"}}
			<small class="form-text text-muted">{{localize 'integration_jira_url_explain'}}</small>
		</div>
		<div class="form-group">
			<label for="jira-username">{{localize 'integration_jira_username'}}</label>
			{{input id="jira-username" type="text" value=jiraCreds.username class="form-control"}}
			<small class="form-text text-muted">{{localize 'integration_jira_username_explain'}}</small>
		</div>
		<div class="form-group">
			<label for="jira-secret">{{localize 'integration_jira_password'}}</label>
			{{input id="jira-secret" type="password" value=jiraCreds.secret class="form-control"}}
			<small class="form-text text-muted">{{localize 'integration_jira_password_explain'}}</small>
		</div>

		<h2>Diagrams.net</h2>
		<div class="form-group">
			<label for="flowchart-url">{{localize 'integration_jira_url'}}</label>
			{{focus-input id="flowchart-url" type="text" value=flowchart.url class="form-control"}}
			<small class="form-text text-muted">https://embed.diagrams.net/?embed=1&ui=Kennedy&spin=0&proto=json&splash=0</small>
		</div>

		{{#if session.isGlobalAdmin}}
			<h2>Trello</h2>
			<div class="form-group">
				<label for="trello-key">{{localize 'integration_trello_appkey'}}</label>
				{{input id="trello-key" type="text" value=trelloCreds.appKey class="form-control"}}
				<small class="form-text text-muted"><a href="https://trello.com/app-key">https://trello.com/app-key</a></small>
			</div>
		{{/if}}

		{{ui/ui-button color=constants.Color.Green light=true icon=constants.Icon.Integrations label=(localize 'save') onClick=(action "onSave")}}
	</form>
</div>
