<div class="row">
	<div class="col">
		<div class="view-customize">
			<h1 class="admin-heading">Product Billing & Subscription</h1>
			<h2 class="sub-heading">Active subscription details</h2>
		</div>
	</div>
</div>

<div class="view-customize">
	<form class="my-5 ">
		<div class="form-group row">
			<label for="sub-name" class="col-sm-4 col-form-label"></label>
			<div class="col-sm-7">
				{{#if (eq subscription.status 0)}}
					<h3 class="text-danger">Enjoy the Documize free plan!</h3>
					<a class="btn btn-success" href="https://documize.com/checkout?ref=app&l={{appMeta.location}}&id={{subscription.id}}&o={{appMeta.orgId}}&u={{subscription.seats}}&a={{subscription.activeUsers}}&e={{subscription.email}}">upgrade now &xrarr;</a>
				{{/if}}
				{{#if (eq subscription.status 1)}}
					<h3 class="text-success">Nice, you have an active product subscription!</h3>
					<a class="btn btn-success" href="https://documize.com/checkout?ref=app&l={{appMeta.location}}&id={{subscription.id}}&o={{appMeta.orgId}}&u={{subscription.seats}}&a={{subscription.activeUsers}}&e={{subscription.email}}">
						change plan &xrarr;
					</a>
				{{/if}}
				{{#if (eq subscription.status 2)}}
					<h3 class="text-danger">Hmm, your product subscription has expired</h3>
					<a class="btn btn-success" href="https://documize.com/checkout?ref=app&l={{appMeta.location}}&id={{subscription.id}}&o={{appMeta.orgId}}&u={{subscription.seats}}&a={{subscription.activeUsers}}&e={{subscription.email}}">
						renew &xrarr;
					</a>
				{{/if}}
				{{#if (eq subscription.status 3)}}
					<h3 class="text-danger">Hmm, {{subscription.activeUsers}} active user count exceeds permitted {{subscription.seats}} user limit</h3>
					<a class="btn btn-success" href="https://documize.com/checkout?ref=app&l={{appMeta.location}}&id={{subscription.id}}&o={{appMeta.orgId}}&u={{subscription.seats}}&a={{subscription.activeUsers}}&e={{subscription.email}}">
						upgrade &xrarr;
					</a>
				{{/if}}
				{{#if (eq subscription.status 4)}}
					<h3 class="text-danger">Hmm, your product subscription is not valid</h3>
					<a class="btn btn-success" href="https://documize.com/pricing?ref=app">upgrade &xrarr;</a>
				{{/if}}
				<br>
				<br>
			</div>
		</div>
		<div class="form-group row">
			<label for="sub-id" class="col-sm-4 col-form-label">Customer ID</label>
			<div class="col-sm-7">
				{{input id="sub-id" type="text" value=subscription.id class="form-control" readonly=true}}
				<small class="form-text text-muted">Quote this ID when contacting us</small>
			</div>
		</div>
		<div class="form-group row">
			<label for="sub-name" class="col-sm-4 col-form-label">Customer Name</label>
			<div class="col-sm-7">
				{{input id="sub-name" type="text" value=subscription.name class="form-control" readonly=true}}
				<small class="form-text text-muted">The business or personal name of our customer</small>
			</div>
		</div>
		<div class="form-group row">
			<label for="sub-email" class="col-sm-4 col-form-label">Contact Email</label>
			<div class="col-sm-7">
				{{input id="sub-email" type="email" value=subscription.email class="form-control" readonly=true}}
				<small class="form-text text-muted">Where we will send product update and billing notices</small>
			</div>
		</div>
		<div class="form-group row">
			<label for="sub-seats" class="col-sm-4 col-form-label">Maximum Users</label>
			<div class="col-sm-7">
				{{input id="sub-seats" type="number" value=subscription.seats class="form-control" readonly=true}}
				<small class="form-text text-muted">Your user pack size &mdash; you have {{subscription.activeUsers}} active users at the moment</small>
			</div>
		</div>

		{{#if (eq appMeta.location "selfhost")}}
			<div class="form-group row">
				<label for="sub-start" class="col-sm-4 col-form-label">Start Date</label>
				<div class="col-sm-7">
					{{input id="sub-start" type="text" value=(formatted-date subscription.start) class="form-control" readonly=true}}
					<small class="form-text text-muted">When you (re)signed up</small>
				</div>
			</div>
			<div class="form-group row">
				<label for="sub-end" class="col-sm-4 col-form-label">Renewal Date</label>
				<div class="col-sm-7">
					{{input id="sub-end" type="text" value=(formatted-date subscription.end) class="form-control" readonly=true}}
					<small class="form-text text-muted">The renewal date of your annual subscription</small>
				</div>
			</div>
			<div class="form-group row">
				<label for="sub-price" class="col-sm-4 col-form-label">Annual Billing</label>
				<div class="col-sm-7">
					{{input id="sub-price" type="text" value=(formatted-price subscription.price) class="form-control" readonly=true}}
					<small class="form-text text-muted">What you pay each year</small>
				</div>
			</div>
		{{else}}
			<div class="form-group row">
				<label for="sub-start" class="col-sm-4 col-form-label">Start of Billing</label>
				<div class="col-sm-7">
					{{input id="sub-start" type="text" value=(formatted-date subscription.start) class="form-control" readonly=true}}
					<small class="form-text text-muted">When we first charged your credit card &mdash; charged every 30 days thereafter</small>
				</div>
			</div>
			<div class="form-group row">
				<label for="sub-price" class="col-sm-4 col-form-label">Monthly Amount</label>
				<div class="col-sm-7">
					{{input id="sub-price" type="text" value=(formatted-price subscription.price) class="form-control" readonly=true}}
					<small class="form-text text-muted">What you pay us each month</small>
				</div>
			</div>
		{{/if}}

		{{#if subscription.trial}}
			<div class="form-group row">
				<label for="sub-trial" class="col-sm-4 col-form-label">Trial?</label>
				<div class="col-sm-7">
					{{input id="sub-trial" type="text" value="Yes" class="form-control" readonly=true}}
				</div>
			</div>
		{{/if}}
		{{#if (eq appMeta.location "selfhost")}}
			<div class="form-group row">
				<label for="sub-license" class="col-sm-4 col-form-label">Activation Key</label>
				<div class="col-sm-7">
					{{focus-textarea id="sub-license" value=license rows="10" class=(if licenseError "form-control is-invalid" "form-control")}}
					<small class="form-text text-muted">The activation key you received after sign-up</small>
					<div class="btn btn-secondary mt-3" {{action "saveLicense"}}>Activate</div>
				</div>
			</div>
		{{/if}}
	</form>
</div>

{{#if (eq appMeta.edition constants.Product.EnterpriseEdition)}}
	{{#if (eq appMeta.location "cloud")}}
		<div class="row">
			<div class="col-sm-4"></div>
			<div class="col-sm-7">
				<div class="view-customize">
					<div class="deactivation-zone">
						<p>Let us know if you would like to close your account or cancel your subscription.</p>
						<p><span class="font-weight-bold">WARNING: </span>All data will be deleted so please download a complete backup of all your data.</p>
						<p>Requests can take up to 24 hours to process.</p>
						{{#link-to "customize.backup" class="btn btn-success"}}PERFORM BACKUP{{/link-to}}
						<div class="button-gap" />
						<button class="btn btn-danger" {{action "onRequestClosure"}}>CLOSE ACCOUNT</button>
					</div>
				</div>
			</div>
		</div>
	{{/if}}
{{/if}}

<div id="deactivation-request-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">Request Account Closure</div>
			<div class="modal-body">
                <form {{action "onEditComment" on="submit"}}>
                    <div class="form-group">
                        <label for="the-comment">Comment</label>
                        {{focus-textarea id="close-comment" class="form-control" rows="5" value=comment}}
                        <small class="form-text text-muted">We always welcome product feedback</small>
                    </div>
                </form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger" onclick={{action "onDeactivate"}}>Close Account</button>
			</div>
		</div>
	</div>
</div>

<div id="deactivation-confirmation-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">Deactivation Requested</div>
			<div class="modal-body">
				<p>Your request has been sent and will be processed shortly.</p>
				<p>If you haven"t already, please run a backup to download all your data.</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">ok</button>
			</div>
		</div>
	</div>
</div>
