<div class="view-customize">
	<form>
		<div class="form-group">
			<label for="smtp-host">Host</label>
			{{focus-input id="smtp-host" type="text" value=model.smtp.host class=(if SMTPHostEmptyError "form-control is-invalid" "form-control")}}
			<small class="form-text">e.g. my.host.com</small>
		</div>
		<div class="form-group">
			<label for="smtp-port">Port</label>
			{{input id="smtp-port" type="text" value=model.smtp.port class=(if SMTPPortEmptyError "form-control is-invalid" "form-control")}}
			<small class="form-text text-muted">e.g. 587</small>
		</div>
		<div class="form-group">
			<label for="smtp-userid">Username</label>
			{{input id="smtp-userid" type="text" value=model.smtp.userid class="form-control"}}
			<small class="form-text text-muted">e.g. Login username for SMTP server</small>
		</div>
		<div class="form-group">
			<label for="smtp-password">Password</label>
			{{input id="smtp-password" type="password" value=model.smtp.password class="form-control"}}
			<small class="form-text text-muted">e.g. Login password for SMTP server</small>
		</div>
		<div class="form-group">
			<label for="smtp-sender">Sender Email</label>
			{{input id="smtp-sender" type="email" value=model.smtp.sender class=(if SMTPSenderEmptyError "form-control is-invalid" "form-control")}}
			<small class="form-text text-muted">e.g. user@some-domain.com</small>
		</div>
		<div class="form-group">
			<label for="smtp-senderName">Sender Name</label>
			{{input id="smtp-senderName" type="text" value=model.smtp.senderName class=(if senderNameError "form-control is-invalid" "form-control")}}
			<small class="form-text text-muted">e.g. Documize</small>
		</div>
		<div class="form-group">
			<label>Anonymous Authentication (Ignore Credentials)</label>
			{{x-toggle value=model.smtp.anonymous size="medium" theme="light" onToggle=(action (mut model.smtp.anonymous))}}
		</div>
		<div class="form-group">
			<label>Base64 Encode Credentials</label>
			{{x-toggle value=model.smtp.base64creds size="medium" theme="light" onToggle=(action (mut model.smtp.base64creds))}}
		</div>
		<div class="form-group">
			<label>Use SSL</label>
			{{x-toggle value=model.smtp.usessl size="medium" theme="light" onToggle=(action (mut model.smtp.usessl))}}
		</div>
		{{ui/ui-button color=constants.Color.Green light=true icon=constants.Icon.Send label=buttonText onClick=(action "saveSMTP")}}
	</form>
</div>