<div class="view-customize">
	{{#if (or isAuthProviderDocumize isDualAuth)}}
		{{ui/ui-button color=constants.Color.Green light=true icon=constants.Icon.Person label=(localize 'add') onClick=(action "onOpenUserModal")}}
		<div id="add-user-modal" class="modal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">{{localize 'user_admin_add'}}</div>
					<div class="modal-body">
						<form onsubmit={{action "onAddUser"}}>
							<div class="form-row">
								<div class="col">
									<label for="newUserFirstname">{{localize 'firstname'}}</label>
									{{input id="newUserFirstname" type="text" class="form-control" placeholder="" value=newUser.firstname}}
								</div>
								<div class="col">
									<label for="newUserLastname">{{localize 'lastname'}}</label>
									{{input id="newUserLastname" type="text" class="form-control" placeholder="" value=newUser.lastname}}
								</div>
								<div class="col">
									<label for="newUserEmail">{{localize 'email'}}</label>
									{{input id="newUserEmail" type="email" class="form-control" placeholder="" value=newUser.email}}
								</div>
							</div>
							<Ui::UiSpacer @size="200" />
							{{ui/ui-button color=constants.Color.Green icon=constants.Icon.Person light=true label=(localize 'add') onClick=(action "onAddUser")}}
							<Ui::UiSpacer @size="300" />
						</form>
						<form onsubmit={{action "onAddUser"}} role="form">
							<div class="form-group">
								<label for="edit-group-desc">{{localize 'user_admin_bulk'}}</label>
								{{textarea id="bulkUsers" value=bulkUsers class="form-control" rows="5" placeholder=""}}
								<small class="form-text text-muted">{{localize 'user_admin_bulk_format'}}</small>
							</div>
							{{ui/ui-button color=constants.Color.Green icon=constants.Icon.People light=true label=(localize 'add') onClick=(action "onAddUsers")}}
						</form>
					</div>
					<div class="modal-footer">
						{{ui/ui-button color=constants.Color.Gray light=true label=(localize 'close') dismiss=true}}
					</div>
				</div>
			</div>
		</div>
	{{/if}}
</div>
