<div id="space-permission-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-80">
		<div class="modal-content">
			<div class="modal-header">Space Permissions</div>
			<div class="modal-body" style="overflow-x: auto;">

				<div class="space-admin table-responsive">
					<table class="table table-hover permission-table">
						<thead>
							<tr>
								<th></th>
								<th colspan="3">Spaces</th>
								<th colspan="6" class="text-info">Documents</th>
							</tr>
							<tr>
								<th></th>
								<th>View</th>
								<th>Manage</th>
								<th>Owner</th>
								<th class="text-info">Create</th>
								<th class="text-info">Edit</th>
								<th class="text-info">Delete</th>
								<th class="text-info">Move</th>
								<th class="text-info">Copy</th>
								<th class="text-info">Templates</th>
							</tr>
						</thead>
						<tbody>
							{{#each permissions as |permission|}}
								<tr>
									<td>{{permission.fullname}} {{if (eq permission.userId session.user.id) '(you)'}}</td>
									<td>
										{{input type="checkbox" id=(concat 'space-role-view-' permission.userId) checked=permission.spaceView}}
									</td>
									<td>
										{{input type="checkbox" id=(concat 'space-role-manage-' permission.userId) checked=permission.spaceManage}}
									</td>
									<td>
										{{input type="checkbox" id=(concat 'space-role-owner-' permission.userId) checked=permission.spaceOwner}}
									</td>
									<td>
										{{input type="checkbox" id=(concat 'doc-role-add-' permission.userId) checked=permission.documentAdd}}
									</td>
									<td>
										{{input type="checkbox" id=(concat 'doc-role-edit-' permission.userId) checked=permission.documentEdit}}
									</td>
									<td>
										{{input type="checkbox" id=(concat 'doc-role-delete-' permission.userId) checked=permission.documentDelete}}
									</td>
									<td>
										{{input type="checkbox" id=(concat 'doc-role-move-' permission.userId) checked=permission.documentMove}}
									</td>
									<td>
										{{input type="checkbox" id=(concat 'doc-role-copy-' permission.userId) checked=permission.documentCopy}}
									</td>
									<td>
										{{input type="checkbox" id=(concat 'doc-role-template-' permission.userId) checked=permission.documentTemplate}}
									</td>
								</tr>
							{{/each}}
						</tbody>
					</table>
				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-outline-success" onclick={{action 'setPermissions'}}>Save</button>
			</div>
		</div>
	</div>
</div>
