{{layout/logo-heading
	title=(localize 'space_delete')
	desc=(localize 'no_undo')
	icon=constants.Icon.Delete}}

<form>
	<div class="form-group">
		<label>{{localize 'space_delete_prompt'}}</label>
		{{focus-input id="delete-space-name" type="text" value=deleteSpaceName class="form-control mousetrap" placeholder=(localize 'name') autocomplete="off"}}
		<small class="form-text text-muted">{{localize 'space_delete_warn'}}</small>
	</div>
</form>

{{ui/ui-button
	color=constants.Color.Red
	icon=constants.Icon.Delete
	label=(localize 'delete')
	light=true
	onClick=(action "onDelete")}}
