<div class="pull-right hidden-xs hidden-sm">
	{{#if hasSelectedDocuments}}

		{{#if xxx}}
			{{#dropdown-dialog target="move-documents-button" position="bottom right" button="Move" color="flat-blue" onAction=(action 'moveDocuments')}}
				<p class="heading">Select destination space</p>
				<ul class="move-document-options">
					{{#each movedFolderOptions as |folder|}}
						<li class="option {{if folder.selected "selected"}}" {{action 'setMoveFolder' folder.id}}>
							{{#if folder.selected}}
								<i class="material-icons">radio_button_checked</i>
							{{else}}
								<i class="material-icons">radio_button_unchecked</i>
							{{/if}}
							&nbsp;{{ folder.name }}
						</li>
					{{/each}}
				</ul>
			{{/dropdown-dialog}}
		{{/if}}

		{{#if xxx}}
			{{#dropdown-dialog target="delete-documents-button" position="bottom right" button="Delete" color="flat-red" onAction=(action 'deleteDocuments')}}
				<p>Are you sure you want to delete selected documents?</p>
				<p>There is no undo!</p>
			{{/dropdown-dialog}}
		{{/if}}

	{{else}}

		{{#if permissions.documentAdd}}
			<div class="round-button button-green" id="document-add-button" data-tooltip="Create document" data-tooltip-position="top center" {{action 'onStartDocument'}}>
				<i class="material-icons">add</i>
			</div>
			<div class="button-gap"></div>
		{{/if}}


	{{/if}}
</div>

