<div class="pull-right hidden-xs hidden-sm">
	{{#if hasSelectedDocuments}}

		{{#if permissions.documentMove}}
			<div class="round-button button-blue" id="move-documents-button" data-tooltip="Move documents" data-tooltip-position="top center">
				<i class="material-icons">folder</i>
			</div>
		{{/if}}

		{{#if permissions.documentDelete}}
			<div class="button-gap"></div>
			<div class="round-button button-red" id="delete-documents-button" data-tooltip="Delete documents" data-tooltip-position="top center">
				<i class="material-icons">delete</i>
			</div>
		{{/if}}

		{{#if permissions.documentMove}}
			{{#dropdown-dialog target="move-documents-button" position="bottom right" button="Move" color="flat-blue" onAction=(action 'moveDocuments')}}
				<p class="heading">Select destination space</p>
				<ul class="move-document-options">
					{{#each movedFolderOptions as |folder|}}
						<li class="option {{if folder.selected "selected"}}" {{action 'setMoveFolder' folder.id}}>
							{{#if folder.selected}}
								<i class="material-icons">radio_button_checked</i>
							{{else}}
								<i class="material-icons">radio_button_unchecked</i>
							{{/if}}
							&nbsp;{{ folder.name }}
						</li>
					{{/each}}
				</ul>
			{{/dropdown-dialog}}
		{{/if}}

		{{#if permissions.documentDelete}}
			{{#dropdown-dialog target="delete-documents-button" position="bottom right" button="Delete" color="flat-red" onAction=(action 'deleteDocuments')}}
				<p>Are you sure you want to delete selected documents?</p>
				<p>There is no undo!</p>
			{{/dropdown-dialog}}
		{{/if}}

	{{else}}

		{{#if permissions.documentAdd}}
			<div class="round-button button-green" id="document-add-button" data-tooltip="Create document" data-tooltip-position="top center" {{action 'onStartDocument'}}>
				<i class="material-icons">add</i>
			</div>
			<div class="button-gap"></div>
		{{/if}}

		{{#if pinState.isPinned}}
			<div class="round-button button-gray" id="space-unpin-button" data-tooltip="Remove favorite" data-tooltip-position="top center" {{action 'onUnpin'}}>
				<i class="material-icons">favorite</i>
			</div>
		{{else if session.authenticated}}
			<div class="round-button button-gray" id="space-pin-button" data-tooltip="Mark favorite" data-tooltip-position="top center">
				<i class="material-icons">favorite_border</i>
			</div>
		{{/if}}

		{{#if spaceSettings}}
			<div class="button-gap"></div>
			{{#link-to 'folder.settings' folder.id folder.slug}}{{model.document.name}}
				<div class="round-button button-gray" id="space-settings-button" data-tooltip="Manage permissions" data-tooltip-position="top center">
					<i class="material-icons">settings</i>
				</div>
			{{/link-to}}
		{{/if}}

		{{#if permissions.spaceOwner}}
			<div class="button-gap"></div>
			<div class="round-button button-gray" id="space-delete-button" data-tooltip="Delete everything" data-tooltip-position="top center">
				<i class="material-icons">delete</i>
			</div>
		{{/if}}

		{{#if session.authenticated}}
			{{#unless pinState.isPinned}}
				{{#dropdown-dialog target="space-pin-button" position="bottom right" button="Pin" color="flat-green" onAction=(action 'onPin') focusOn="pin-space-name"}}
					<div class="input-control">
						<label>Favorite Space</label>
						<div class="tip">Provide short name</div>
						{{input type='text' id="pin-space-name" value=pinState.newName}}
					</div>
				{{/dropdown-dialog}}
			{{/unless}}
		{{/if}}

		{{#if permissions.spaceOwner}}
			{{#dropdown-dialog target="space-delete-button" position="bottom right" button="Delete" color="flat-red" onAction=(action 'deleteSpace')}}
				<p>Are you sure you want to delete this space and all associated documents?</p>
				<div class="input-control">
					<div class="tip">Please type the space name to confirm</div>
					{{input type='text' id="delete-space-name" value=deleteSpaceName}}
				</div>
			{{/dropdown-dialog}}
		{{/if}}

	{{/if}}
</div>

