<div class="margin-bottom-20">
	{{folder/space-heading folder=folder permissions=permissions documents=documents categories=categories}}

	{{folder/space-toolbar folders=folders folder=folder
		permissions=permissions hasSelectedDocuments=hasSelectedDocuments
		onDeleteDocument=(action 'onDeleteDocument') onMoveDocument=(action 'onMoveDocument')
		onDeleteSpace=(action 'onDeleteSpace') onStartDocument=(action 'onStartDocument')}}
</div>
<div class="clearfix" />

{{#if showStartDocument}}
	{{folder/start-document folder=folder templates=templates permissions=permissions
		onImport=(action 'onImport') onHideStartDocument=(action 'onHideStartDocument')}}
{{else}}

	{{#if hasCategories}}
		<div class="category-filter">
			{{#if (gt rootDocCount 0)}}
				<div class="regular-button button-white {{if spaceSelected 'selected'}}"
					id="uncategorized-button" data-tooltip="Documents without category" data-tooltip-position="top center"
					{{action 'onDocumentFilter' 'space' folder.id}}>
					{{folder.name}} ({{rootDocCount}})
				</div>
			{{/if}}
			{{#each categories as |cat index|}}
				<div class="button-gap"/>
				<div class="regular-button button-white {{if cat.selected 'selected'}}" {{action 'onDocumentFilter' 'category' cat.id}}>
					{{cat.category}} ({{cat.docCount}})
				</div>
			{{/each}}
		</div>
	{{/if}}

	{{folder/documents-list documents=filteredDocs folders=folders folder=folder
		templates=templates permissions=permissions selectedDocuments=(mut selectedDocuments)}}

{{/if}}