{{folder/space-heading folder=folder permissions=permissions}}

{{#if hasCategories}}
	<div class="clearfix">
		<div class="float-left mr-5">
			<div class="view-space">
				<div class="filter-caption mt-4">{{documents.length}} documents</div>
				<ul class="tabnav-control">
					<li class="tab {{if spaceSelected 'selected'}}" {{action 'onDocumentFilter' 'space' folder.id}}>All ({{documents.length}})</li>
					{{#if (gt rootDocCount 0)}}
						<li class="tab {{if uncategorizedSelected 'selected'}}" {{action 'onDocumentFilter' 'uncategorized' folder.id}}>Uncategorized ({{rootDocCount}})</li>
					{{/if}}
				</ul>
			</div>
		</div>
		<div class="float-left">
			<div class="view-space">
				<div class="filter-caption mt-4">{{categories.length}} categories</div>
				<ul class="tabnav-control">
					{{#each categories as |cat index|}}
						<li class="tab {{if cat.selected 'selected'}}" {{action 'onDocumentFilter' 'category' cat.id}}>{{cat.category}} ({{cat.docCount}})</li>
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
{{/if}}

{{folder/documents-list documents=filteredDocs folders=folders folder=folder
	templates=templates permissions=permissions selectedDocuments=(mut selectedDocuments)}}

{{#if showStartDocument}}
	{{folder/start-document folder=folder templates=templates permissions=permissions
		onImport=(action 'onImport') onHideStartDocument=(action 'onHideStartDocument')}}
{{/if}}

{{folder/space-toolbar folders=folders folder=folder
	permissions=permissions hasSelectedDocuments=hasSelectedDocuments
	onDeleteDocument=(action 'onDeleteDocument') onMoveDocument=(action 'onMoveDocument')
	onStartDocument=(action 'onStartDocument')}}

