<div id="new-document-wizard" class="new-document-wizard">

	<div class="input-inline input-transparent pull-left width-80">
		{{input type="text" id="new-document-name" value=newDocumentName class=(if newDocumentNameMissing 'document-name error-inline' 'document-name mousetrap') placeholder="Name" autocomplete="off"}}
	</div>
	<div class="round-button-mono pull-right" {{action 'onHideDocumentWizard'}}>
		<i class="material-icons color-gray">close</i>
	</div>
	<div class="clearfix" />

	<div id="import-document-button" class="import-document-button">
		Drag-drop or click to select .doc, .docx, .md, .markdown files
	</div>

	<div class="list-wrapper">
		<ul class="template-list">
			{{#each savedTemplates key="id" as |template|}}
				<li class="item">
					{{#if permissions.documentTemplate}}
						{{#unless template.locked}}
							<div class="template-actions">
								<i class="material-icons" {{action 'editTemplate' template}}>mode_edit</i>
							</div>
						{{/unless}}
					{{/if}}
					<div class="details" {{action 'startDocument' template}}>
						<div class='title'>{{template.title}}</div>
						<div class='desc'>{{template.description}}</div>
					</div>
				</li>
			{{/each}}
		</ul>
	</div>

</div>
