<div class="auth-center">
	<div class="auth-box">
		<div class="logo">
			<img src="{{appMeta.endpoint}}/public/logo?cb={{random-id}}" title="{{appMeta.title}}" alt="{{appMeta.title}}" class="img-fluid">
			<div class="url">{{appMeta.title}} ({{appMeta.appHost}})</div>
		</div>
		{{user/password-reset reset=(action "reset")}}
	</div>
</div>
