<div class="installer">
	<img src="/assets/img/setup/logo.png" srcset="/assets/img/setup/logo@2x.png" alt="Documize Community Setup">
	<Ui::UiSpacer @size="300" />
	<h1 class="color-theme-700">Documize Community Setup</h1>
	<p class="color-gray-800">
		Review the <a href="https://docs.documize.com/s/VzO9ZqMOCgABGyfW/installation-guides/d/V16L08ucxwABhZF6/installation-guide" target="_blank">installation instructions</a>
		and recommended <a href="https://docs.documize.com/s/VzO9ZqMOCgABGyfW/installation-guides/d/V2KuM8ICcQABagM5/database-tuning" target="_blank">database tuning guide</a>
	</p>
	<p class="color-gray-800">
		Please enable Full-Text Search when using Microsoft SQL Server 2016+.
	</p>
	<Ui::UiSpacer @size="300" />

	<form {{action "save" on="submit"}}>
		<div class="form-group">
			<label>Site name</label>
			{{focus-input id="setup-title" type="text" value=model.title class=(if hasTitleError "form-control is-invalid" "form-control")}}
			<small class="form-text text-muted">Usually your company or team name</small>
		</div>
		<div class="form-group">
			<label for="setup-firstname">Firstname</label>
			{{input id="setup-firstname" type="text" value=model.firstname class=(if hasFirstnameError "form-control is-invalid" "form-control")}}
		</div>
		<div class="form-group">
			<label for="setup-lastname">Lastname</label>
			{{input id="setup-lastname" type="text" value=model.lastname class=(if hasLastnameError "form-control is-invalid" "form-control")}}
		</div>
		<div class="form-group">
			<label for="setup-email">Email</label>
			{{input id="setup-email" type="email" value=model.email class=(if hasEmailError "form-control is-invalid" "form-control")}}
		</div>
		<div class="form-group">
			<label for="new-password">Password</label>
			{{input id="new-password" type="password" value=model.password class=(if hasPasswordError "form-control is-invalid" "form-control")}}
			<small class="form-text text-muted">Pick something strong and unique that you don't use anywhere else</small>
		</div>
		{{#if (eq model.edition constants.Product.EnterpriseEdition)}}
			<div class="form-group">
				<label for="activation-key">Activation Key</label>
				{{textarea id="activation-key" value=model.activationKey rows="5" class=(if hasKeyError "form-control is-invalid" "form-control")}}
				<small class="form-text text-muted">Get from here: <a href="https://www.documize.com/community" target="_blank">https://www.documize.com/community</a></small>
			</div>
		{{/if}}
		{{ui/ui-button submit=true color=constants.Color.Green light=true label=buttonLabel onClick=(action "save")}}
	</form>

	<Ui::UiSpacer @size="300" />
</div>
