<div id="zone-navigation" class="zone-navigation">
		<ul class="top-zone">
	        {{#if session.authenticated}}
				<li>
					<div id="accounts-button" class="filled-tool">
		                <i class="material-icons">apps</i>
		            </div>
				</li>
	        {{else}}
				<li>
		            {{#link-to 'application' class='title'}}
		                <div class="filled-tool" title={{appMeta.title}}>
		                    <i class="material-icons">apps</i>
		                </div>
		            {{/link-to}}
				</li>
	        {{/if}}
			<li>
	            {{#link-to 'search'}}
	                <i class="material-icons icon-tool">language</i>
	            {{/link-to}}
			</li>
			<li>
	            {{#link-to 'search'}}
	                <i class="material-icons icon-tool">people_outline</i>
	            {{/link-to}}
			</li>
			<li>
	            {{#link-to 'search'}}
	                <i class="material-icons icon-tool">person_outline</i>
	            {{/link-to}}
			</li>
			<li class="{{if view.search 'selected'}}">
	            {{#link-to 'search'}}
	                <i class="material-icons icon-tool">search</i>
	            {{/link-to}}
			</li>
	    </ul>

	    <ul class="bottom-zone">
			{{#if session.session.content.authenticated.user.admin}}
				<li class="{{if view.settings 'selected'}}">
		            {{#link-to 'customize.general'}}
		                <i class="material-icons icon-tool">tune</i>
		            {{/link-to}}
				</li>
			{{/if}}
	        {{#if session.authenticated}}
				<li>
		            {{#link-to 'auth.logout'}}
		                <i class="material-icons icon-tool">exit_to_app</i>
		            {{/link-to}}
				</li>
				<li class="{{if view.profile 'selected'}}">
					{{#link-to 'profile'}}
						<div class="filled-tool">
							<i class="initials">{{session.user.initials}}</i>
						</div>
		            {{/link-to}}
				</li>
	        {{else}}
				<li>
	                {{#link-to 'auth.login'}}
						<i class="material-icons icon-tool">lock_open</i>
					{{/link-to}}
		        </li>
	        {{/if}}
	    </ul>

    {{#if session.authenticated}}
        {{#dropdown-menu target="accounts-button" position="bottom left" open="click" }}
            <ul class="menu">
                {{#each session.user.accounts as |account|}}
                    <li class="item" {{action 'switchAccount' account.domain }}>{{account.title}}</li>
                {{/each}}
                <li class="divider"></li>
                <li class="item"><a href="https://documize.com/welcome">Add team...</a></li>
            </ul>
        {{/dropdown-menu}}
    {{/if}}
</div>
