<div id="zone-navigation" class="zone-navigation">
    <div class="pull-left content">
        {{#if session.authenticated}}
            <div id="accounts-button" class="header-button">
                <i class="material-icons">apps</i>
            </div>
        {{else}}
            {{#link-to 'application' class='title'}}
                <div class="header-button" title=session.appMeta.title>
                    <i class="material-icons">apps</i>
                </div>
            {{/link-to}}
        {{/if}}
        {{#link-to 'application' class='title'}}
            {{session.appMeta.title}}
        {{/link-to}}
    </div>

    <div class="pull-right hidden-xs hidden-sm content">
        {{#if session.authenticated}}
            <div class="name">{{session.user.fullname}}</div>
            <div id="user-button" class="header-button">
                <i class="initials">{{session.user.initials}}</i>
            </div>
        {{else}}
            <div class="login">
                {{#link-to 'auth.login'}}Login{{/link-to}}
            </div>
        {{/if}}
        <div class="search">
            {{#link-to 'search'}}
                <i class="material-icons">search</i>
            {{/link-to}}
        </div>
    </div>

    {{#if session.authenticated}}
        {{#dropdown-menu target="accounts-button" position="bottom left" open="click" }}
            <ul class="menu">
                {{#each session.user.accounts as |account|}}
                    <li class="item" {{action 'switchAccount' account.domain }}>{{account.title}}</li>
                {{/each}}
                <li class="divider"></li>
                <li class="item"><a href="https://documize.com/welcome">Add team...</a></li>
            </ul>
        {{/dropdown-menu}}

        {{#dropdown-menu target="user-button" position="bottom right" open="click" }}
            <ul class="menu">
                <li class="item">
                    {{#link-to 'profile'}}Profile{{/link-to}}
                </li>
                {{#if session.isAdmin}}
                    <li class="item">
                        {{#link-to 'customize.general'}}Settings{{/link-to}}
                    </li>
                {{/if}}
                <li class="divider"></li>
                <li class="item">
                    {{#link-to 'auth.logout'}}Logout{{/link-to}}
                </li>
            </ul>
        {{/dropdown-menu}}
    {{/if}}
	<div class="clearfix"></div>
</div>
