{{#section/base-editor document=document folder=folder page=page tip="Concise name that describes the diagram" isDirty=(action 'isDirty') onCancel=(action 'onCancel') onAction=(action 'onAction')}}
	<div class="section-mermaid-diagram">
		<div class="container">
			<div class="row">
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Diagram Text&nbsp;&nbsp;&nbsp;</label> <a href="https://mermaidjs.github.io/" target="_blank">(Mermaid User Guide)</a>
						<textarea rows=20 id={{editorId}} class="diagram-editor form-control mousetrap">{{diagramText}}</textarea>
						<div class="mt-3">
							<p>Insert sample diagrams:</p>
							<p>
								<button type="button" class="btn btn-light btn-sm" {{action 'onInsertFlowchart'}}>Flowchart</button>
								<button type="button" class="btn btn-light btn-sm" {{action 'onInsertSequence'}}>Sequence</button>
								<button type="button" class="btn btn-light btn-sm" {{action 'onInsertGantt'}}>Gantt</button>
							</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6">
					<div class="form-group">
						<label>Diagram Preview</label>
						<div id={{previewId}}>
							{{{diagramPreview}}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{{/section/base-editor}}
