{{#section/base-editor document=document folder=folder page=page busy=busy	tip="GitHub is how people build software. (https://github.com)"	isDirty=(action 'isDirty') onCancel=(action 'onCancel') onAction=(action 'onAction')}}
	<div class="section-github-editor">
		{{#if authenticated}}
			<div class="pull-left width-45">
				<div class="input-control">
						<label>Select repository</label>
						<div class="tip">Select organization or user whose repository you want to show</div>
						{{ui-select id="owners-dropdown" content=owners action=(action 'onOwnerChange') optionValuePath="id" optionLabelPath="name" selection=config.owner}}
				</div>
				<div class="input-control">
					<label>Show items since</label>
					<div class="tip">default is 7 days ago</div>
					{{input id="branch-since" value=config.branchSince type="text" }}<br>
				</div>
				<div class="input-control">
					<label>GitHub Views</label>
					<div class="tip">Select the views you want to show</div>
					<div class="github-view">
						{{input id="show-milestone" checked=config.showMilestones type="checkbox"}}
						<label>Show Milestones</label>
						<br/>
						{{input id="show-issues" checked=config.showIssues type="checkbox"}}
						<label>Show Issues</label>
						<br/>
						{{input id="show-commits" checked=config.showCommits type="checkbox" }}
						<label>Show Commits</label>
					</div>
				</div>
			</div>

			<div class="pull-left width-10">&nbsp;</div>

			<div class="pull-left width-45">
				<div class="input-form">
					<div class="input-control">
						<label>Repositories</label>
						<div class="tip">Select the repository to show</div>
						<div class="github-board">
							{{#each config.lists as |list|}}
								<div class="github-list" {{action 'onListCheckbox' list.id}}>
									{{#if list.included}}
										<i class="material-icons widget-checkbox checkbox-gray github-list-checkbox">check_box</i>
									{{else}}
										<i class="material-icons widget-checkbox checkbox-gray github-list-checkbox">check_box_outline_blank</i>
									{{/if}}
									<span class="github-list-title">{{list.repo}} {{#if list.private}}(private){{/if}}</span>
								</div>
							{{/each}}
						</div>
						<div class="clearfix" />
					</div>
				</div>
			</div>
		{{else}}
			<div class="pull-left width-45">
				<div class="input-control">
					<label>Authentication</label>
					<div class="tip">Click to authenticate with Github</div>
				</div>
				<div class="regular-button button-blue" {{ action 'auth' }}>Authenticate</div>
			</div>
		{{/if}}
	</div>
{{/section/base-editor}}
