<div class="input-form">
    <form>
        <div class="heading">
            <div class="title">Add User</div>
            <div class="tip">New users receive an invitation email with a random password</div>
        </div>
        <div class="input-control">
            <label>Firstname</label>
            {{focus-input id="newUserFirstname" type="text" value=newUser.firstname}}
        </div>
        <div class="input-control">
            <label>Lastname</label>
            {{input id="newUserLastname" type="text" value=newUser.lastname}}
        </div>
        <div class="input-control">
            <label>Email</label>
            {{input id="newUserEmail" type="text" value=newUser.email}}
        </div>
        <div class="regular-button button-blue" {{ action 'add' }}>Add</div>
    </form>
</div>

<div class="clearfix" /> {{settings/user-list users=model onDelete=(action "onDelete") onSave=(action "onSave") onPassword=(action "onPassword")}}