{{#layout/zone-container}}

	{{layout/zone-navigation}}

	{{#layout/zone-header title=model.name message="Settings, sharing, permissions and deletion"}}
		<div class="pull-right">
			{{#link-to 'folders.folder' model.id model.slug}}
				<div class="regular-button button-white">
					<i class="material-icons">arrow_back</i>
					<div class="name">space</div>
				</div>
			{{/link-to}}
		</div>
	{{/layout/zone-header}}

	{{#layout/zone-sidebar}}
		<div class="sidebar-menu">
			<ul class="options">
				<li class="option {{if tabGeneral "selected"}}" {{action 'selectTab' 'tabGeneral'}}>General</li>
				<li class="option {{if tabShare "selected"}}" {{action 'selectTab' 'tabShare'}}>Share</li>
				<li class="option {{if tabPermissions "selected"}}" {{action 'selectTab' 'tabPermissions'}}>Permissions</li>
				<li class="option {{if tabDelete "selected"}}" {{action 'selectTab' 'tabDelete'}}>Delete</li>
			</ul>
		</div>
	{{/layout/zone-sidebar}}

	{{#layout/zone-content}}
		{{#folder/folder-settings
			tabGeneral=tabGeneral
			tabShare=tabShare
			tabPermissions=tabPermissions
			tabDelete=tabDelete
			folder=model
			folders=folders
			permissions=permissions
			users=users
			onRemove="onRemove"
			onRename="onRename"
			onShare="onShare"
			onPermission="onPermission" }}
		{{/folder/folder-settings}}
	{{/layout/zone-content}}

{{/layout/zone-container}}
