{{#section/base-editor-inline document=document folder=folder page=page isDirty=(action 'isDirty') onCancel=(action 'onCancel') onAction=(action 'onAction')}}
	<div class="section-markdown-preview-button round-button-mono" id={{tooltipId}} {{action 'toggleMode'}} data-tooltip="Toggle Preview" data-tooltip-position="top center">
		<i class="material-icons color-gray">visibility</i>
	</div>
	{{document/edit-tools document=document folder=folder page=page onInsertLink=(action 'onInsertLink')}}
	{{#if editMode}}
		{{focus-textarea id=editorId class="mousetrap wysiwyg section-markdown-preview" value=pageBody}}
	{{else}}
		<div class="mousetrap wysiwyg section-markdown-preview">
			{{{pagePreview}}}
		</div>
	{{/if}}
{{/section/base-editor-inline}}
