{{#section/base-editor-inline document=document folder=folder page=page tip="Concise name that describes code snippet" isDirty=(action 'isDirty') onCancel=(action 'onCancel') onAction=(action 'onAction')}}
	<style>
		.CodeMirror {
			height: auto;
			font-size: 17px;
		}
	</style>

	<div class="section-markdown-preview-button round-button-mono" id={{tooltipId}} {{action 'toggleMode'}} data-tooltip="Toggle Preview" data-tooltip-position="top center">
		<i class="material-icons color-gray">visibility</i>
	</div>
	{{document/edit-tools document=document folder=folder page=page onInsertLink=(action 'onInsertLink')}}

	<div class="section-code-editor">
		{{#if editMode}}
			{{focus-textarea value=pageBody id=editorId class="mousetrap"}}
		{{else}}
			<div class="mousetrap wysiwyg section-markdown-preview">
				{{{pagePreview}}}
			</div>
		{{/if}}
	</div>
{{/section/base-editor-inline}}
