<div id={{concat "content-linker-modal-" page.id}} class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">Insert Link</div>
			<div class="modal-body">

				<div class="container">

					<div class="row">
						<div class="col">
							<ul class="tabnav-control text-center">
								<li class="tab {{if tab1Selected 'selected'}}" {{action 'onTabSelect' 1}}>Section</li>
								<li class="tab {{if tab2Selected 'selected'}}" {{action 'onTabSelect' 2}}>Attachment</li>
								<li class="tab {{if tab3Selected 'selected'}}" {{action 'onTabSelect' 3}}>Search</li>
							</ul>
						</div>
					</div>

					{{#if showSections}}
						<div class="row">
							<div class="col content-linker-modal-container">
								<ul class="link-list">
									{{#each candidates.pages as |p|}}
										<li class="link-item" {{ action 'setSelection' p }}>
											{{#ui/ui-selection selected=p.selected}}
												{{p.title}}
											{{/ui/ui-selection}}
										</li>
									{{/each}}
								</ul>
							</div>
						</div>
					{{/if}}

					{{#if showAttachments}}
						<div class="row">
							<div class="col content-linker-modal-container">
								<ul class="link-list">
									{{#each candidates.attachments as |a|}}
										<li class="link-item" {{ action 'setSelection' a }}>
											{{#ui/ui-selection selected=a.selected}}
												<img class="icon" src="/assets/img/attachments/{{document/file-icon a.context}}" />
												{{ a.title }}
											{{/ui/ui-selection}}
										</li>
									{{/each}}
								</ul>
							</div>
						</div>
					{{/if}}

					{{#if showSearch}}
						<div class="row">
							<div class="col content-linker-modal-container">
								<div class="input-control">
									<label>Search</label>
									<div class="tip">For content or attachments</div>
									{{focus-input id="content-linker-search" type="input" value=keywords placeholder="keyword search" autocomplete="off"}}
								</div>
								{{#unless hasMatches}}
								Nothing found.
								{{/unless}}
								<ul class="link-list">
									{{#each matches.documents as |m|}}
										<li class="link-item" {{ action 'setSelection' m }}>
											{{#ui/ui-selection selected=m.selected}}
												{{m.title}}<br/><span class="color-gray">{{m.context}}</span>
											{{/ui/ui-selection}}
										</li>
									{{/each}}
									{{#each matches.pages as |m|}}
										<li class="link-item" {{ action 'setSelection' m }}>
											{{#ui/ui-selection selected=m.selected}}
												{{m.title}}<br/><span class="color-gray">{{m.context}}</span>
											{{/ui/ui-selection}}
										</li>
									{{/each}}
									{{#each matches.attachments as |a|}}
										<li class="link-item" {{ action 'setSelection' a }}>
											{{#ui/ui-selection selected=a.selected}}
												<img class="icon" src="/assets/img/attachments/{{document/file-icon a.context}}" />
												{{ a.title }}
											{{/ui/ui-selection}}
										</li>
									{{/each}}
								</ul>
							</div>
						</div>
					{{/if}}

				</div>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-secondary" {{action 'onCancel'}}>Cancel</button>
				<button type="button" class="btn btn-success" {{action 'onInsertLink'}}>Insert</button>
			</div>
		</div>
	</div>
</div>
