<div class="no-print">
	{{#ui/ui-toolbar dark=false light=true raised=true large=true bordered=true}}
		{{#if pinState.isPinned}}
			{{ui/ui-toolbar-icon icon=constants.Icon.BookmarkDelete color=constants.Color.Yellow
				tooltip="Remove from bookmarks" onClick=(action "onUnpin")}}
		{{else if session.authenticated}}
			{{ui/ui-toolbar-icon icon=constants.Icon.BookmarkAdd color=constants.Color.Gray
				tooltip="Bookmark" onClick=(action "onPin")}}
		{{/if}}

		{{#if permissions.documentAdd}}
			{{ui/ui-toolbar-icon icon=constants.Icon.Copy color=constants.Color.Gray
				tooltip="Save as template" onClick=(action "onShowTemplateModal")}}
		{{/if}}

		{{#if showActivity}}
			{{ui/ui-toolbar-icon icon=constants.Icon.Pulse color=constants.Color.Gray
				tooltip="See content activity" linkTo="document.activity"}}
		{{/if}}

		{{#if showRevisions}}
			{{ui/ui-toolbar-icon icon=constants.Icon.TimeBack color=constants.Color.Gray
				tooltip="Revisions and rollback" linkTo="document.revisions"}}
		{{/if}}

		{{ui/ui-toolbar-icon icon=constants.Icon.Download color=constants.Color.Gray
			tooltip="Download as HTML file" onClick=(action "onExport")}}

		{{ui/ui-toolbar-icon icon=constants.Icon.Print color=constants.Color.Gray
			tooltip="Print" onClick=(action "onPrintDocument")}}

		{{#if permissions.documentDelete}}
			{{ui/ui-toolbar-icon icon=constants.Icon.Delete color=constants.Color.Gray
				tooltip="Delete" onClick=(action "onShowDeleteModal")}}
		{{/if}}

		{{#if permissions.documentEdit}}
			{{ui/ui-toolbar-icon icon=constants.Icon.Settings color=constants.Color.Green
				tooltip="Rename, metadata, workflow" linkTo="document.settings"}}
		{{/if}}
	{{/ui/ui-toolbar}}
</div>

<div id="document-template-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">Save as Template</div>
			<div class="modal-body">
				<form onsubmit={{action "onSaveTemplate"}}>
					<div class="form-group">
						<label for="new-template-name">Name</label>
						{{input id="new-template-name" value=saveTemplate.name type="email" class="form-control mousetrap" placeholder="Template name"}}
						<small class="form-text text-muted">Good template name conveys document type</small>
					</div>
					<div class="form-group">
						<label for="new-template-desc">Description</label>
						{{textarea id="new-template-desc" value=saveTemplate.description class="form-control" rows="5"}}
						<small class="form-text text-muted">Explain use case for this template</small>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				{{ui/ui-button color=constants.Color.Gray light=true label=constants.Label.Cancel dismiss=true}}
				{{ui/ui-button-gap}}
				{{ui/ui-button color=constants.Color.Green light=true label=constants.Label.Delete onClick=(action "onSaveTemplate")}}
			</div>
		</div>
	</div>
</div>

<div id="document-delete-modal" class="modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">Delete Document</div>
			<div class="modal-body">
				<p>Are you sure you want to delete this document?</p>
			</div>
			<div class="modal-footer">
				{{ui/ui-button color=constants.Color.Gray light=true label=constants.Label.Cancel dismiss=true}}
				{{ui/ui-button-gap}}
				{{ui/ui-button color=constants.Color.Red light=true label=constants.Label.Delete onClick=(action "onDocumentDelete")}}
			</div>
		</div>
	</div>
</div>
