<div class="document-toolbar">
	<div class="round-button-mono" id="document-more-button">
		<i class="material-icons">more_vert</i>
	</div>
</div>

{{#dropdown-menu target="document-more-button" position="bottom right" open="click" onOpenCallback=(action 'onMenuOpen') onCloseCallback=(action 'onMenuOpen')}}
    <ul class="menu">
        {{#if session.authenticated}}
            {{#if (is-equal document.layout 'section')}}
                <li class="item" {{action 'onLayoutChange' 'doc'}}>Flat view</li>
            {{else}}
                <li class="item" {{action 'onLayoutChange' 'section'}}>Section view</li>
            {{/if}}
            {{#if pinState.isPinned}}
                <li class="item" {{action 'onUnpin'}}>Unfavorite</li>
            {{else}}
                <li class="item" id="pin-document-button">Favorite</li>
            {{/if}}
			{{#if permissions.documentEdit}}
				<li class="item">{{#link-to 'document.history'}}History{{/link-to}}</li>
	        {{/if}}
        {{/if}}
        {{#if permissions.documentTemplate}}
            <li class="item" id="save-template-button">Template</li>
        {{/if}}
		<li class="divider"/>
        <li class="item" id="print-document-button" {{action 'onPrintDocument'}}>Print</li>
        {{#if permissions.documentDelete}}
            <li class="item danger" id="delete-document-button">Delete</li>
        {{/if}}
    </ul>
{{/dropdown-menu}}

{{#if session.authenticated}}
    {{#if menuOpen}}
        {{#unless pinState.isPinned}}
            {{#dropdown-dialog target="pin-document-button" position="bottom right" button="Pin" color="flat-green" onAction=(action 'onPin') focusOn="pin-document-name" }}
                <div class="input-control">
                    <label>Favorite Document</label>
                    <div class="tip">Provide short name</div>
                    {{input type='text' id="pin-document-name" value=pinState.newName}}
                </div>
            {{/dropdown-dialog}}
        {{/unless}}
    {{/if}}

    {{#if permissions.documentDelete}}
        {{#if menuOpen}}
            {{#dropdown-dialog target="delete-document-button" position="bottom right" button="Delete" color="flat-red" onAction=(action 'onDeleteDocument')}}
                <p>Are you sure you want to delete this document?</p>
                <p>There is no undo, so be careful.</p>
            {{/dropdown-dialog}}
        {{/if}}
    {{/if}}

    {{#if permissions.documentTemplate}}
        {{#if menuOpen}}
            {{#dropdown-dialog target="save-template-button" position="bottom right" button="Save as Template" color="flat-green" onAction=(action 'onSaveTemplate') focusOn="new-template-name" }}
                <div class="input-control">
                    <label>Name</label>
                    <div class="tip">Short name for this type of document</div>
                    {{input type='text' id="new-template-name" value=saveTemplate.name}}
                </div>
                <div class="input-control">
                    <label>Excerpt</label>
                    <div class="tip">Explain use case for this template</div>
                    {{textarea value=saveTemplate.description rows="3" id="new-template-desc"}}
                </div>
            {{/dropdown-dialog}}
        {{/if}}
    {{/if}}
{{/if}}
