<Ui::UiSpacer @size="300" />

<div class="document-meta">
	<div class="title {{if permissions.documentEdit "cursor-pointer"}}" {{action "onEditCategory"}}>CATEGORY / TAG</div>
	{{#each selectedCategories as |cat|}}
		<div class="meta-label">
			<i class="dicon {{constants.Icon.Category}}"/>
			{{cat.category}}
			{{#attach-tooltip showDelay=1000}}Category{{/attach-tooltip}}
		</div>
	{{/each}}
	{{#each tagz as |t|}}
		<div class="meta-label">
			<i class="dicon {{constants.Icon.Tag}}"/>
			{{t}}
			{{#attach-tooltip showDelay=1000}}Tag{{/attach-tooltip}}
		</div>
	{{/each}}

	{{#if unassigned}}
		{{#if permissions.spaceManage}}
			{{#ui/ui-toolbar dark=false light=true raised=true large=false bordered=true}}
				{{ui/ui-toolbar-icon icon=constants.Icon.Plus color=constants.Color.Gray linkTo="document.settings"}}
			{{/ui/ui-toolbar}}
		{{else}}
			<div class="empty">Unassigned</div>
		{{/if}}
	{{/if}}
</div>
