<div class="sidebar-wrapper">
	<div class="sidebar-panel">
		<div class="title">Index</div>
		<div class="document-sidebar-view-index">
			<div class="structure">
				{{#if session.authenticated}}
					{{#unless emptyState}}
						<div id="tocToolbar" class="hidden-xs hidden-sm toc-controls {{if state.actionablePage 'current-page' ''}}">
							<div id="toc-up-button" class="round-button-mono {{if state.upDisabled 'disabled'}}" data-tooltip="Move up" data-tooltip-position="top center" {{action 'pageUp'}}>
								<i class="material-icons">arrow_upward</i>
							</div>
							<div class="button-gap" />
							<div id="toc-down-button" class="round-button-mono {{if state.downDisabled 'disabled'}}" data-tooltip="Move down" data-tooltip-position="top center" {{action 'pageDown'}}>
								<i class="material-icons">arrow_downward</i>
							</div>
							<div class="button-gap" />
							<div id="toc-outdent-button" class="round-button-mono {{if state.outdentDisabled 'disabled'}}" data-tooltip="Outdent" data-tooltip-position="top center" {{action 'pageOutdent'}}>
								<i class="material-icons">format_indent_decrease</i>
							</div>
							<div class="button-gap" />
							<div id="toc-indent-button" class="round-button-mono {{if state.indentDisabled 'disabled'}}" data-tooltip="Indent" data-tooltip-position="top center" {{action 'pageIndent'}}>
								<i class="material-icons">format_indent_increase</i>
							</div>
						</div>
					{{/unless}}
				{{/if}}

				<ul class="index-list">
					{{#each pages key="id" as |p index|}}
						{{document/index-entry page=p index=index onClick=(action 'onEntryClick')}}
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>