{{#if permissions.documentEdit}}
	<div class="document-sidebar-toolbar">
		<div class="round-button-mono button-white {{if (eq tab 'index') 'selected'}}" id="document-index-button" data-tooltip="Index" data-tooltip-position="bottom center" {{action 'onTabSwitch' 'index'}}>
			<i class="material-icons">view_headline</i>
		</div>
		<div class="button-gap" />
		<div class="round-button-mono button-white {{if (eq tab 'activity') 'selected'}}" id="document-activity-button" data-tooltip="Activity" data-tooltip-position="bottom center" {{action 'onTabSwitch' 'activity'}}>
			<i class="material-icons">timeline</i>
		</div>
	</div>
{{/if}}

{{#if (is-equal tab 'index')}}
	{{document/document-index
		document=document
		folder=folder
		pages=pages
		page=page
		permissions=permissions
		onPageSequenceChange=(action 'onPageSequenceChange')
		onPageLevelChange=(action 'onPageLevelChange')
		onGotoPage=(action 'onGotoPage')}}
{{/if}}

{{#if (is-equal tab 'activity')}}
	{{document/document-activity document=document pages=pages permissions=permissions}}
{{/if}}
