<div id="page-{{page.id}}" class="is-a-page" data-id="{{ page.id }}" data-type="{{page.contentType}}">
	{{#if editMode}}
		<div class="wysiwyg">
			{{document/document-editor document=document folder=folder page=page meta=meta onCancel=(action 'onCancelEdit') onAction=(action 'onSavePage')}}
		</div>
	{{else}}
		{{document/page-heading document=document folder=folder page=page permissions=permissions tabMode=tabMode
			onEdit=(action 'onEdit') onSavePageAsBlock=(action 'onSavePageAsBlock')
			onCopyPage=(action 'onCopyPage') onMovePage=(action 'onMovePage') onDeletePage=(action 'onDeletePage')}}
		<div class="wysiwyg">
			{{section/base-renderer page=page}}
		</div>
	{{/if}}
</div>
