<div id="page-{{page.id}}" data-id={{page.id}} data-type={{page.contentType}}>
	{{#if editMode}}
		<div class="wysiwyg">
			{{document/document-editor
				document=document
				folder=folder
				page=editPage
				meta=editMeta
				onCancel=(action "onCancelEdit")
				onAction=(action "onSavePage")}}
		</div>
	{{else}}
		{{document/page-heading
			page=page
			meta=meta
			pages=pages
			roles=roles
			folder=folder
			blocks=blocks
			tabMode=tabMode
			pending=pending
			document=document
			permissions=permissions
			onEdit=(action "onEdit")
			refresh=(action refresh)
			onCopyPage=(action "onCopyPage")
			onMovePage=(action "onMovePage")
			onDeletePage=(action "onDeletePage")
			onSavePageAsBlock=(action "onSavePageAsBlock")
			onPageLevelChange=(action onPageLevelChange)
			onPageSequenceChange=(action onPageSequenceChange)
			onShowSectionWizard=(action onShowSectionWizard)}}

		<div class="wysiwyg">
			{{section/base-renderer page=page}}
		</div>
	{{/if}}
</div>
