{{#unless editMode}}
	<div class="document-heading {{if isEditor 'cursor-pointer'}}" onclick={{if isEditor (action 'toggleEdit')}}>
		<h1 class="doc-title">{{document.name}}</h1>
		<div class="doc-excerpt">{{document.excerpt}}</div>
	</div>
{{else}}
	<form {{action "onSave" on="submit"}}>
		<div class="edit-document-heading">
			<div class="input-inline input-transparent edit-doc-title">
				{{focus-input id="document-name" type="text" value=docName class=(if hasNameError 'error-inline') placeholder="Name" autocomplete="off"}}
			</div>
			<div class="input-inline input-transparent edit-doc-excerpt">
				{{input id="document-excerpt" type="text" value=docExcerpt class=(if hasExcerptError 'error-inline') placeholder="Excerpt" autocomplete="off"}}
			</div>
			<div>
				<button type="submit" class="round-button-mono" {{action 'onSave'}}>
					<i class="material-icons color-green">check</i>
				</button>
				<div class="round-button-mono" {{action 'onCancel'}}>
					<i class="material-icons color-gray">close</i>
				</div>
			</div>
		</div>
	</form>
{{/unless}}
