<div id="sidebar" class="sidebar-white document-sidebar">

	<div class="sidebar-view-switcher d-flex align-items-center justify-content-center">
		<i class="material-icons">reorder</i>
	</div>

	<div id="doc-toc" class="document-toc">
		<div class="header">
			{{#if canEdit}}
				<div id="tocToolbar" class="toc-controls {{if state.actionablePage "current-page"}}">
					<div id="toc-up-button" class="button-icon-green button-icon-small {{if state.upDisabled "disabled"}}" {{action "pageUp"}}>
						<i class="material-icons">arrow_upward</i>
					</div>
					<div class="button-icon-gap" />
					<div id="toc-down-button" class="button-icon-green button-icon-small {{if state.downDisabled "disabled"}}" {{action "pageDown"}}>
						<i class="material-icons">arrow_downward</i>
					</div>
					<div class="button-icon-gap" />
					<div id="toc-outdent-button" class="button-icon-green button-icon-small {{if state.outdentDisabled "disabled"}}" {{action "pageOutdent"}}>
						<i class="material-icons">arrow_back</i>
					</div>
					<div class="button-icon-gap" />
					<div id="toc-indent-button" class="button-icon-green button-icon-small {{if state.indentDisabled "disabled"}}" {{action "pageIndent"}}>
						<i class="material-icons">arrow_forward</i>
					</div>
				</div>
			{{/if}}
		</div>
		<ul class="index-list">
			{{#each pages key="id" as |item|}}
				<li class="item">
					<a id="index-{{item.page.id}}" {{action "onGotoPage" item.page.id}}
						class="link toc-index-item {{item.page.tocIndentCss}} {{if (eq item.page.id state.pageId) "selected"}}"
						title={{item.page.title}}>
						<span class="numbering">{{item.page.numbering}}</span>
						{{#if (or item.userHasChangePending userHasNewPagePending)}}
							<span class="color-red-600" >[*]&nbsp;</span>
							{{#attach-tooltip showDelay=1000}}Pending changes{{/attach-tooltip}}
						{{/if}}
						{{#if (or permissions.documentApprove roles.documentApprove)}}
							{{#if item.changeAwaitingReview}}
								<span class="color-green-700">[*]&nbsp;</span>
								{{#attach-tooltip showDelay=1000}}Awaiting approval{{/attach-tooltip}}
							{{/if}}
						{{/if}}
						{{item.page.title}}
					</a>
				</li>
			{{/each}}
		</ul>
	</div>

</div>
