<div class="page-title">
    <span id="page-title-{{ page.id }}">{{ page.title }}</span>
    <div id="page-toolbar-{{ page.id }}" class="pull-right page-toolbar hidden-xs hidden-sm">
        {{#if permissions.documentEdit}}
            <div class="round-button-mono" {{action 'onEdit'}}>
                <i class="material-icons color-gray">mode_edit</i>
            </div>
			{{#if hasMenuPermissions}}
				<div class="round-button-mono" id="page-menu-{{page.id}}">
					<i class="material-icons color-gray">more_vert</i>
				</div>
				{{#dropdown-menu target=menuTarget position="top right" open="click" onOpenCallback=(action 'onMenuOpen') onCloseCallback=(action 'onMenuOpen')}}
					<ul class="menu">
						{{#if permissions.documentCopy}}
							<li class="item" id={{copyButtonId}}>Copy</li>
						{{/if}}
						{{#if permissions.documentMove}}
							<li class="item" id={{moveButtonId}}>Move</li>
						{{/if}}
						{{#if permissions.documentTemplate}}
							<li class="item" id={{publishButtonId}}>Publish</li>
						{{/if}}
						{{#if permissions.documentDelete}}
							<li class="item danger" id={{deleteButtonId}}>Delete</li>
						{{/if}}
					</ul>
				{{/dropdown-menu}}
			{{/if}}

			{{#if menuOpen}}
				{{#if permissions.documentDelete}}
					{{#dropdown-dialog target=deleteButtonId position="bottom right" button="Delete" color="flat-red" onAction=(action 'deletePage')}}
						<p>Are you sure you want to delete <span class="font-weight-bold">{{page.title}}?</span></p>
						<p>
							{{input type="checkbox" id=checkId class="margin-left-20" checked=deleteChildren}}
							<label for="{{checkId}}">&nbsp;Delete child sections</label>
						</p>
					{{/dropdown-dialog}}
				{{/if}}
				{{#if permissions.documentTemplate}}
					{{#dropdown-dialog id=publishDialogId target=publishButtonId position="bottom right" button="Publish" color="flat-green" focusOn=blockTitleId onAction=(action 'onSavePageAsBlock')}}
						<div class="form-header">
							<div class="tip">
								<span class="font-weight-bold">{{folder.name}}:</span> Content Block
							</div>
						</div>
						<div class="input-control">
							<label>Name</label>
							<div class="tip">Short title for reusable content block</div>
							{{input type="text" value=blockTitle id=blockTitleId}}
						</div>
						<div class="input-control">
							<label>Description</label>
							<div class="tip">Short description to help others understand<br/>the reusable content block</div>
							{{textarea rows="3" value=blockExcerpt id=blockExcerptId}}
						</div>
					{{/dropdown-dialog}}
				{{/if}}
				{{#if permissions.documentCopy}}
					{{#dropdown-dialog id=copyDialogId target=copyButtonId position="bottom right" button="Copy" color="flat-green" onOpenCallback=(action 'onCopyDialogOpen') onAction=(action 'onCopyPage')}}
						<div class="form-header">
							<div class="tip">
								<span class="font-weight-bold">Copy:</span> {{page.title}}
							</div>
						</div>
						<div class="input-control">
							<label>Target</label>
							<div class="tip">Select where the content should be copied to</div>
							{{ui-select cssClass="dropdown-page-toolbar" content=documentList action=(action 'onTargetChange') optionValuePath="id" optionLabelPath="name" selection=document}}
						</div>
					{{/dropdown-dialog}}
				{{/if}}
				{{#if permissions.documentMove}}
					{{#dropdown-dialog id=moveDialogId target=moveButtonId position="bottom right" button="Move" color="flat-green" onOpenCallback=(action 'onCopyDialogOpen') onAction=(action 'onMovePage')}}
						<div class="form-header">
							<div class="tip">
								<span class="font-weight-bold">Move:</span> {{page.title}}
							</div>
						</div>
						<div class="input-control">
							<label>Target</label>
							<div class="tip">Select where the content should be moved to</div>
							{{ui-select cssClass="dropdown-page-toolbar" content=documentListOthers action=(action 'onTargetChange') optionValuePath="id" optionLabelPath="name"}}
						</div>
					{{/dropdown-dialog}}
				{{/if}}
			{{/if}}
        {{/if}}
    </div>
</div>
