<div class="back-to-space document-space">
	<div class="caption">Space</div>
	{{#link-to 'folder' folder.id folder.slug}}
		<div class="regular-button button-nav">
			<i class="material-icons">arrow_back</i>
			<div class="name">{{folder.name}}</div>
		</div>
	{{/link-to}}
</div>

<div class="document-category">
	<div class="caption">Category</div>

	{{#each selectedCategories as |cat|}}
		<div class="regular-button button-nav">{{cat.category}}</div>
	{{else}}
		{{#if canAddCategory}}
			{{#link-to 'folder.settings.category' folder.id folder.slug}}Manage{{/link-to}}
		{{else}}
			<p>&nbsp;</p>
		{{/if}}
	{{/each}}

	{{#if canSelectCategory}}
		<div class="regular-button button-white" id="document-category-button">
			<i class="material-icons">add</i>
		</div>
		{{#dropdown-dialog target="document-category-button" position="bottom left" button="set" color="flat-green" onAction=(action 'onSave')}}
			<p class="heading">Set document categories</p>
			{{ui/ui-list-picker items=categories nameField='category'}}
			{{#if canAddCategory}}
				{{#link-to 'folder.settings.category' folder.id folder.slug}}Manage{{/link-to}}
			{{/if}}
		{{/dropdown-dialog}}
	{{/if}}
</div>
