<div class="view-activity mt-5">
	<ul class="items">
		{{#each activity as |a|}}
			<li class="item">
				<div class="avatar-box">{{user-initials a.firstname a.lastname}}</div>
				<div class="activity">
					<div class="name">{{a.firstname}} {{a.lastname}}</div>
					<div class="detail {{a.activityColor}}">{{a.activityLabel}}, {{time-ago a.created}}</div>
				</div>
			</li>
		{{/each}}
	</ul>
</div>
