<div class="view-attachment d-print-none">
	{{#if canEdit}}
		<div class="upload-document-files">
			<div id="upload-document-files" class="btn btn-secondary text-uppercase bold-700">+ Attachments</div>
		</div>
	{{else}}
		<div class="margin-top-50" />
	{{/if}}
	{{#if hasAttachments}}
		<ul class="list">
			{{#each files key="id" as |file|}}
				<li class="item">
					<a href="{{appMeta.endpoint}}/public/attachments/{{appMeta.orgId}}/{{file.id}}">
						{{file.filename}}
					</a>
					{{#if canEdit}}
						<div class="delete">
							<div class="button-icon-danger button-icon-small align-middle" {{action "onShowDialog" file.id file.filename}}>
								<i class="material-icons">delete</i>
							</div>
						</div>
					{{/if}}
				</li>
			{{/each}}
		</ul>
	{{/if}}
</div>

{{#ui/ui-dialog title="Delete Attachment" confirmCaption="Delete" buttonColor=constants.Color.Red show=showDialog onAction=(action "onDelete")}}
	<p>Are you sure you want to delete {{deleteAttachment.name}}?</p>
{{/ui/ui-dialog}}
