<div class="col-12 col-sm-3 heading">Attachments</div>
<div class="col-12 col-sm-9 view-attachment">
	{{#if hasAttachments}}
		<ul class="list">
			{{#each files key="id" as |a index|}}
				<li class="item">
					<a href="{{appMeta.endpoint}}/public/attachments/{{appMeta.orgId}}/{{a.id}}">
						{{a.filename}}
					</a>
					{{#if canEdit}}
						<div class="delete">
							<div class="button-icon-danger button-icon-small align-middle" {{action 'onShowDialog' a.id a.filename}}>
								<i class="material-icons">delete</i>
							</div>
						</div>
					{{/if}}
				</li>
			{{/each}}
		</ul>
	{{/if}}
	{{#if canEdit}}
		<div class="upload-document-files">
			<div id="upload-document-files" class="btn btn-outline-secondary">Upload</div>
		</div>
	{{/if}}
</div>

{{#ui/ui-dialog title="Delete Attachment" confirmCaption="Delete" buttonType="btn-danger" show=showDialog onAction=(action 'onDelete')}}
	<p>Are you sure you want to delete {{deleteAttachment.name}}?</p>
{{/ui/ui-dialog}}
