{{#if hasPages}}
	{{#each pages key="id" as |item|}}
		{{ui/ui-spacer size=100}}
		{{document/document-page
			roles=roles
			pages=pages
			folder=folder
			toEdit=toEdit
			blocks=blocks
			page=item.page
			meta=item.meta
			document=document
			pending=item.pending
			permissions=permissions
			attachments=attachments
			refresh=(action refresh)
			onAttachmentUpload=(action onAttachmentUpload)
			onAttachmentDelete=(action onAttachmentDelete)
			onSavePage=(action "onSavePage")
			onCopyPage=(action "onCopyPage")
			onMovePage=(action "onMovePage")
			onDeletePage=(action "onDeletePage")
			onSavePageAsBlock=(action "onSavePageAsBlock")
			onPageLevelChange=(action onPageLevelChange)			
			onPageSequenceChange=(action onPageSequenceChange)
			onShowSectionWizard=(action "onShowSectionWizard")}}
	{{/each}}
{{/if}}

{{#if canEdit}}
	<div class="start-section">
		<i class="dicon {{constants.Icon.Plus}}" {{action "onShowSectionWizard"}}>
			{{#attach-tooltip showDelay=1000}}Insert section here{{/attach-tooltip}}
		</i>
	</div>
{{/if}}

{{#if showLikes}}
	<div class="vote-box no-print">
		{{#if voteThanks}}
			<div class="thanks">Thanks for the feedback!</div>
		{{else}}
			<div class="prompt">{{folder.likes}}</div>
			{{ui/ui-spacer size=200}}
			<div class="buttons">
				{{ui/ui-button color=constants.Color.Yellow light=true label="Yes, thanks!" onClick=(action "onVote" 1)}}
				{{ui/ui-button-gap}}
				{{ui/ui-button color=constants.Color.Yellow light=true label="Not really" onClick=(action "onVote" 2)}}
			</div>
		{{/if}}
	</div>
{{/if}}

{{#if canEdit}}
	{{document/add-section
		pages=pages
		blocks=blocks
		folder=folder
		toEdit=toEdit
		folders=folders
		sections=sections
		document=document
		permissions=permissions
		show=showInsertSectionModal
		beforePage=newSectionLocation
		onInsertSection=(action onInsertSection)}}
{{/if}}