{{#if hasPages}}

	{{#each pages key="id" as |item index|}}
		{{#if canEdit}}
			<div class="start-section" {{action 'onShowSectionWizard' item.page}}>
				<div class="start-button">
					<div class="cta">+ SECTION</div>
				</div>
			</div>
		{{else}}
			<div class="margin-top-70" />
		{{/if}}
		{{document/document-page
			roles=roles
			pages=pages
			folder=folder
			toEdit=toEdit
			blocks=blocks
			page=item.page
			meta=item.meta
			document=document
			pending=item.pending
			permissions=permissions
			refresh=(action refresh)
			onSavePage=(action 'onSavePage')
			onCopyPage=(action 'onCopyPage')
			onMovePage=(action 'onMovePage')
			onDeletePage=(action 'onDeletePage')
			onSavePageAsBlock=(action 'onSavePageAsBlock')
			onPageLevelChange=(action onPageLevelChange)
			onPageSequenceChange=(action onPageSequenceChange)}}
	{{/each}}

	{{#if canEdit}}
		<div class="start-section" {{action 'onShowSectionWizard'}}>
			<div class="start-button">
				<div class="cta">+ SECTION</div>
			</div>
		</div>
	{{/if}}

	{{#if showLikes}}
		<div class=" d-flex justify-content-center non-printable">
			<div class="vote-box">
				{{#unless voteThanks}}
				<div class="prompt">
					{{folder.likes}}
				</div>
				<div class="buttons">
					<button type="button" class="btn btn-outline-success font-weight-bold" {{action 'onVote' 1}}>Yes, thanks!</button>&nbsp;&nbsp;
					<button type="button" class="btn btn-outline-secondary font-weight-bold" {{action 'onVote' 2}}>Not really</button>
				</div>
				{{else}}
				<div class="ack">Thanks for the feedback!</div>
				{{/unless}}
			</div>
		</div>
	{{/if}}

{{else }}

	{{#if canEdit}}
		<div class="start-section" {{action 'onShowSectionWizard'}}>
			<div class="start-button">
				<div class="cta">+ SECTION</div>
			</div>
		</div>
	{{/if}}

{{/if}}

{{#if canEdit}}
	{{document/add-section
		pages=pages
		blocks=blocks
		folder=folder
		toEdit=toEdit
		folders=folders
		sections=sections
		document=document
		permissions=permissions
		show=showInsertSectionModal
		beforePage=newSectionLocation
		onInsertSection=(action onInsertSection)}}
{{/if}}