{{#if folders}}
	<div class="global-folder-settings">
		<div class="form-header">
			<div class="title">{{folders.length}} shared {{label}}</div>
			<div class="tip">View and change shared space ownership</div>
		</div>
		<div class="input-control manage-space-list">
			{{#each folders as |folder|}}
				<div class="space pull-left width-80">
					{{#link-to 'folder' folder.id folder.slug class="alt"}}{{folder.name}}{{/link-to}}
				</div>
				<div class="pull-right">
					&nbsp;
				</div>
				<div class="clearfix" />
			{{/each}}
		</div>
	</div>
{{else}}
	<div class="global-folder-settings">
		<div class="form-header">
			<div class="title">{{folders.length}} shared {{label}}</div>
			<div class="tip">There are no spaces to maintain</div>
		</div>
	</div>
{{/if}}