<form {{action "forgot" on="submit"}}>
    {{#if sayThanks}}
        <p class="color-green-700 margin-bottom-30">{{localize 'reset_password_next'}}.</p>
    {{else}}
        <div class="form-group">
            <label for="email">{{localize 'email'}}</label>
            {{focus-input type="email" value=email id="email" class=(if hasEmptyEmailError "form-control is-invalid" "form-control")}}
            {{#if sayError}}
                <p class="color-red-700 margin-top-10">{{localize 'not_found'}}</p>
            {{/if}}
        </div>
		{{ui/ui-button color=constants.Color.Yellow light=true label=(localize 'reset') onClick=(action "forgot")}}
    {{/if}}

	<Ui::UiSpacer @size="400" />
	{{#link-to "auth.login"}}{{localize 'signin'}}{{/link-to}}
</form>
