<div class="login-form">
    <form {{action "reset" on="submit"}}>
        <div class="form-group">
            <label>{{localize 'password_new'}}</label>
            {{focus-input type="password" value=password id="newPassword" autocomplete="new-password" class=(if hasPasswordError "form-control is-invalid" "form-control")}}
            <small class="form-text text-muted">{{localize 'password_strong'}}</small>
        </div>
        <div class="form-group">
            <label>{{localize 'password_confirm'}}</label>
            {{input type="password" value=passwordConfirm id="passwordConfirm" autocomplete="new-password" class=(if hasConfirmError "form-control is-invalid" "form-control")}}
        </div>
        <div class="margin-top-10 margin-bottom-20">
			{{ui/ui-button color=constants.Color.Green light=true label=(localize 'reset') onClick=(action "reset")}}
            <span class="{{unless mustMatch "d-none"}} color-red-600 margin-left-20">{{localize 'password_match'}}</span>
        </div>
    </form>
</div>
