<ul class="documents-list">
	{{#each documents key="id" as |document|}}
		<li class="document {{if document.selected "selected-card"}}">
			{{#link-to 'document.index' folder.id folder.slug document.id document.slug class="link"}}
				<div class="title">{{ document.name }}</div>
				<div class="snippet">{{ document.excerpt }}</div>
				<div class="chips">{{folder/document-tags documentTags=document.tags}}</div>
			{{/link-to}}
			<div class="checkbox" {{action 'selectDocument' document.id}}>
				{{#if session.authenticated}}
					{{#if document.selected}}
						<i class="material-icons">check_box</i>
					{{else}}
						<i class="material-icons">check_box_outline_blank</i>
					{{/if}}
				{{/if}}
			</div>
		</li>
	{{/each}}
</ul>

{{#if emptyState}}
	<div class="no-documents">
		<div class="box">
			<h3>This space is empty</h3>
			<div class="message">Click the
				<div class="round-button-mono">
					<i class="material-icons color-gray">add</i>
				</div> button to add a new document<br/>or
				<div class="round-button-mono">
					<i class="material-icons color-gray">file_upload</i>
				</div>
				to import .doc .docx, .txt .md files
			</div>
		</div>
	</div>
{{/if}}
