<ul class="documents-list">
	{{#each documents key="id" as |document|}}
		<li class="document {{if document.selected "selected-card"}}">
			{{#link-to 'document.index' folder.id folder.slug document.id document.slug class="link"}}
				<div class="title">{{ document.name }}</div>
				<div class="snippet">{{ document.excerpt }}</div>
				<div class="chips">{{folder/document-tags documentTags=document.tags}}</div>
			{{/link-to}}
			<div class="checkbox" {{action 'selectDocument' document.id}}>
				{{#if session.authenticated}}
					{{#if document.selected}}
						<i class="material-icons">check_box</i>
					{{else}}
						<i class="material-icons">check_box_outline_blank</i>
					{{/if}}
				{{/if}}
			</div>
		</li>
	{{/each}}
</ul>

{{#if emptyState}}
	<div class="empty-state-space">
		<img src="/assets/img/empty-state-space.gif" />
	</div>
{{/if}}
