{{#if session.isEditor}}
	<div id="add-space-button" class="regular-button button-white" data-tooltip="Share" data-tooltip-position="top center">
		<i class="material-icons">add</i>
		<div class="name">Space</div>
	</div>
	{{#dropdown-dialog target="add-space-button" position="bottom left" button="Add" color="flat-green" onAction=(action 'addFolder') focusOn="new-folder-name"}}
		<div>
			<div class="input-control">
				<label>New space</label>
				<div class="tip">A repository for related documentation</div>
				{{input type='text' id="new-folder-name" class="mousetrap" value=newFolder}}
			</div>
		</div>
	{{/dropdown-dialog}}
{{/if}}

<div class="folders-list">
	{{#if folderService.canEditCurrentFolder}}
		<div id="start-document-button" class="round-button button-green doc-tool" data-tooltip="Document" data-tooltip-position="top center">
			<i class="material-icons">add</i>
		</div>
		{{folder/start-document
			savedTemplates=savedTemplates
			folder=folder
			onEditTemplate=(action 'onEditTemplate')
			onDocumentTemplate=(action 'onDocumentTemplate')}}
	{{/if}}

	{{#if showScrollTool}}
		<div {{action 'scrollTop'}} id="scroll-space-tool" class="round-button round-button-mono button-white scroll-space-tool" data-tooltip="Back to top" data-tooltip-position="top center">
			<i class="material-icons color-gray">vertical_align_top</i>
		</div>
	{{/if}}

	<div class="section">
		<div class="heading">EVERYONE</div>
		{{#unless hasPublicFolders}}
			<div class="message margin-left-15">No global spaces</div>
		{{/unless}}
		<ul class="list">
			{{#each publicFolders as |folder|}}
				{{#link-to 'folders.folder' folder.id folder.slug class="link" activeClass='selected' }}
					<li class="item">{{ folder.name }}</li>
				{{/link-to}}
			{{/each}}
		</ul>
	</div>

	{{#if session.authenticated}}
		<div class="section">
			<div class="heading">TEAM</div>
			{{#unless hasProtectedFolders}}
				<div class="message margin-left-15">No protected spaces</div>
			{{/unless}}
			<ul class="list">
				{{#each protectedFolders as |folder|}}
					{{#link-to 'folders.folder' folder.id folder.slug class="link" activeClass='selected' }}
						<li class="item">{{ folder.name }}</li>
					{{/link-to}}
				{{/each}}
			</ul>
		</div>

		<div class="section">
			<div class="heading">PERSONAL</div>
			{{#unless hasPrivateFolders}}
				<div class="message margin-left-15">No private spaces</div>
			{{/unless}}
			<ul class="list">
				{{#each privateFolders as |folder|}}
					{{#link-to 'folders.folder' folder.id folder.slug class="link" activeClass='selected' }}
						<li class="item">{{ folder.name }}</li>
					{{/link-to}}
				{{/each}}
			</ul>
		</div>
	{{/if}}
</div>

<div class="copyright hidden-xs hidden-sm">
	<a href="https://documize.com?ref=app-footer" target="_blank">Copyright&nbsp;&copy;&nbsp;2016 Documize Inc.</a>
</div>
