{{#unless editMode}}
	<div class="folder-heading {{if isFolderOwner 'cursor-pointer'}}" onclick={{if isFolderOwner (action 'toggleEdit')}}>
		<h1 class="folder-title">{{folder.name}}</h1>
	</div>
{{else}}
	<form {{action "onSave" on="submit"}}>
		<div class="edit-folder-heading">
			<div class="input-inline input-transparent edit-folder-title">
				{{focus-input id="folder-name" type="text" value=folderName class=(if hasNameError 'error-inline') placeholder="Name" autocomplete="off"}}
			</div>
			<div>
				<button type="submit" class="round-button-mono" {{action 'onSave'}}>
					<i class="material-icons color-green">check</i>
				</button>
				<div class="round-button-mono" {{action 'onCancel'}}>
					<i class="material-icons color-gray">close</i>
				</div>
			</div>
		</div>
	</form>
{{/unless}}
