<p class="bold color-link margin-bottom-20">{{folder.name}}</p>

<div class="templates-list">
	<ul class="list">
		{{#each savedTemplates key="id"as |template|}}
			<li class="item" {{action 'startDocument' template}}>
				<div class="icon">
					<img class="img" src="/assets/img/{{template.img}}.png" srcset="/assets/img/{{template.img}}@2x.png" />
				</div>
				<div class="details">
					<div class='title'>
						{{template.title}}
					</div>
					<div class='desc'>{{template.description}}</div>
				</div>
			</li>
		{{/each}}
	</ul>
</div>
