<div class="start-document">
	<p class="space-name">{{folder.name}}</p>

	<div id="import-document-button" class="import-document-button">
		Drag-drop .doc, .docx, .txt, .md, .markdown<br/>
		or click to select files
	</div>

	<div class="templates-list">
		<ul class="list">
			{{#each savedTemplates key="id" as |template|}}
				<li class="item">
					<div class="icon">
						<img class="img" src="/assets/img/{{template.img}}.png" srcset="/assets/img/{{template.img}}@2x.png" />
						{{#if editor}}
							{{#unless template.locked}}
								<div class="edit-control" {{action 'editTemplate' template}}>edit</div>
							{{/unless}}
						{{/if}}
					</div>
					<div class="details" {{action 'startDocument' template}}>
						<div class='title'>
							{{template.title}}
						</div>
						<div class='desc'>{{template.description}}</div>
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
</div>
